@charset "UTF-8";
.site-content {
  width: 1060px;
  padding: 30px 0; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  max-width: 700px;
  padding-right: 50px;
  line-height: 24px; }
  .main.article {
    font-size: 16px; }

figure {
  font-family: "PTSerif-Regular"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 24px "PTSerif-Bold";
  color: #1d5273;
  padding: 10px 0;
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid  #57a7dc;
  padding: 20px 0 10px;
  margin: 0 0 40px;
  position: relative; }
  h1:after {
    content: "";
    display: block;
    width: 160px;
    border: 3px solid #57a7dc;
    position: absolute;
    bottom: 0; }

h3 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h5, h6 {
  font-size: 16px; }

.underline {
  color: #55a8de;
  text-decoration: underline; }

.bold {
  font-family: "PTSans-Bold"; }

.color {
  color: #2bd081; }

.post,
.advert,
.row-heading.top,
p {
  padding: 10px 0; }

.meta-span.dark,
a {
  color: #1d5273; }

.vnimanie {
  background-color: #55a8de;
  border: 10px solid #eef8fd;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px "PTSans-Regular";
  color: #ffffff;
  padding: 25px 25px 25px 0;
  margin: 20px 0; }
  .vnimanie.vn-green {
    background-color: #2bd081;
    border-color: #d9ffed; }
    .vnimanie.vn-green:before {
      background: url(/images/control/bv_vajno.png) no-repeat; }
    .vnimanie.vn-green .vnimanie-block {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      margin-top: 10px;
      padding-top: 10px; }
    .vnimanie.vn-green .critical {
      font-family: "PTSans-Bold"; }
  .vnimanie:before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 70px;
    background: url(/images/control/bv_osnovnoi.png) no-repeat;
    margin: 0 40px 0 40px; }

.main ul li {
  line-height: 22px;
  padding: 8px 0; }
  .main ul li:before {
    content: "";
    display: initial;
    font: 14px "FontAwesome";
    color: #2bd081;
    padding: 0 19px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.main ol {
  counter-reset: list1; }
  .main ol li {
    padding: 8px 0; }
  .main ol li:before {
    content: counter(list1);
    counter-increment: list1;
    margin-right: 10px;
    color: #2bd081;
    font-family: "PTSerif-Regular"; }
  .main ol li li {
    padding: 10px 0 0 0; }
  .main ol li ol {
    width: 100%;
    margin-top: 20px; }
  .main ol li ol li:before {
    content: "\f0da";
    font-family: "FontAwesome";
    margin-left: -30px; }

.post p {
  padding: 0; }

.float-right {
  float: right;
  margin: 10px 0 0 30px; }

.float-left {
  float: left;
  margin: 10px 30px 0 0; }

.title-heading {
  width: 129px;
  background-image: url(/images/background/yarlik.png);
  background-repeat: no-repeat;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  font: 14px "PTSerif-Bold";
  color: #ffffff; }

.row-heading.top {
  height: 178px;
  margin-bottom: 40px; }
  .row-heading.top .heading-item {
    width: 95px;
    height: 95px;
    font-size: 13px;
    line-height: 13px; }
    .row-heading.top .heading-item:after {
      margin-top: 5px; }

.row-heading.bottom {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .row-heading.bottom .heading-item {
    width: 140px;
    height: 140px; }

.related {
  padding: 20px 0; }
  .related .items {
    -webkit-flex-basis: -webkit-calc(100%/3 - 20px);
    -ms-flex-preferred-size: calc(100%/3 - 20px);
    flex-basis: -moz-calc(100%/3 - 20px);
    flex-basis: calc(100%/3 - 20px);
    background-color: rgba(241, 249, 253, 0.9);
    border: transparent;
    position: relative;
    -webkit-transition: height 5.5s, background 2s;
    -o-transition: height 5.5s, background 2s;
    -moz-transition: height 5.5s, background 2s;
    transition: height 5.5s, background 2s; }
    .related .items img {
      width: 100%; }
    .related .items:hover {
      background: transparent;
      border: 1px solid #f1f9fd; }
      .related .items:hover img {
        height: 0; }
      .related .items:hover .items-content {
        height: auto;
        overflow: visible;
        text-align: left; }
      .related .items:hover .items-title-articl {
        color: #496e86;
        text-shadow: 0.25px 0.1px 0 #496e86, -0.25px -0.1px 0 #496e86; }
      .related .items:hover .items-title-articl:after {
        position: initial;
        margin: 13px 0 0 0; }
      .related .items:hover .meta-span {
        color: #1d5273; }
  .related .items-content {
    height: 60px;
    overflow: hidden; }
  .related .items-title-articl:after {
    content: "";
    display: block;
    width: 20px;
    border: 1px solid #7bbfec;
    position: absolute;
    top: 68%;
    left: 0;
    right: 0; }

.publication {
  border: 1px solid #f1f9fd;
  padding: 20px 0;
  margin: 20px 0; }
  .publication.backhover:hover {
    background-color: #eff8fd; }
  .publication .picture {
    height: 200px;
    width: 230px;
    margin: 0 20px; }
  .publication .link-pub {
    font-family: "PTSans-Bold";
    font-size: 24px; }
    .publication .link-pub:hover {
      color: #77c1ee; }
    .publication .link-pub:after {
      content: "";
      display: block;
      width: 20px;
      border: 1px solid #7bbfec;
      margin: 10px 0; }
  .publication .piblicat {
    line-height: 18px; }
  .publication .meta {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .publication .meta .messag {
      margin-left: 20px; }
  .publication .pub-link {
    font-size: 16px; }

/*# sourceMappingURL=maps/heading-article.css.map */
