@charset "UTF-8";
figure {
  font-family: "PT Serif"; }

h1,
h2,
h3,
h4,
h5,
h6,
.soc-inf {
  font-family: "PT Serif";
  color: #1d5273;
  padding: 10px 0;
  margin: 0;
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 36px 0; }

h1 {
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid  #57a7dc;
  padding: 40px 0 28px;
  margin: 0 0 40px;
  position: relative; }
  h1:after {
    content: "";
    display: block;
    width: 160px;
    border-bottom: 3px solid #57a7dc;
    position: absolute;
    bottom: 0; }

h1, h2 {
  clear: both; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h5, h6 {
  font-size: 16px; }

img {
  height: auto;
  max-width: 100%;
  width: auto;
  vertical-align: baseline; }

.wrapper-content p a {
  color: #7bbfec;
  text-decoration: underline; }
  .wrapper-content p a:hover {
    color: #2bd081;
    text-decoration: none; }

.inform-picture,
.advert,
.row-heading.top,
.soc-list {
  padding: 10px 0; }

.vnimanie {
  background-color: #eef8fd;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px "PT Sans";
  color: #ffffff;
  padding: 49px 25px 44px 0;
  margin: 25px 0;
  position: relative;
  z-index: 1; }
  .vnimanie .vnimanie-block {
    display: inline-block;
    width: -webkit-calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: calc(100% - 130px);
    text-align: left; }
    @media screen and (max-width: 768px) {
      .vnimanie .vnimanie-block {
        display: block;
        width: 100%;
        padding-left: 30px;
        padding-top: 30px;
        text-align: center; } }
  .vnimanie:before {
    content: "";
    display: inline-block;
    width: 128px;
    height: 70px;
    background: url(/images/control/bv_osnovnoi.png) no-repeat top;
    margin: 0 0 0 20px; }
    @media screen and (max-width: 768px) {
      .vnimanie:before {
        width: 100%;
        background-position: center;
        margin: 0 0 10px 30px; } }
  .vnimanie:after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    top: 10px;
    background-color: #55a8de;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: -1; }
  .vnimanie.vn-green {
    background-color: #d9ffed; }
    .vnimanie.vn-green:after {
      background-color: #2bd081; }
    .vnimanie.vn-green:before {
      background: url(/images/control/bv_vajno.png) no-repeat center; }
    .vnimanie.vn-green .critical {
      font-family: "PT Sans";
      font-weight: 700;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      margin-bottom: 15px;
      padding-bottom: 15px; }
  @media screen and (max-width: 1023px) {
    .vnimanie {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center; } }

ul:not.menu {
  padding-left: 30px; }

.main ul li {
  line-height: 22px;
  padding: 10px 0; }
  .main ul li:before {
    content: "";
    display: initial;
    font: 16px "icomoon";
    color: #2bd081;
    margin-right: 20px;
    margin-left: -25px; }

ul .alignleft, ol .alignleft {
  margin: 0 50px 10px 0; }
  @media screen and (max-width: 768px) {
    ul .alignleft, ol .alignleft {
      margin: 10px auto 10px 0; } }

.main ol {
  counter-reset: list1; }
  .main ol li {
    padding: 8px 10px; }
    @media screen and (max-width: 641px) {
      .main ol li {
        padding: 8px 0; } }
  .main ol li:before {
    content: counter(list1) ".";
    counter-increment: list1;
    margin-right: 10px;
    font: 16px "PT Serif";
    color: #2bd081; }
  .main ol li ol {
    width: 100%;
    padding-left: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .main ol li ol li:before {
    content: "\f0da";
    font-family: "icomoon";
    margin-left: -30px; }

.aligncenter {
  display: block;
  margin: 10px auto; }

.alignright {
  float: right;
  margin: 0 0 10px 20px; }
  @media screen and (max-width: 768px) {
    .alignright {
      display: block;
      float: none;
      margin: 10px auto; } }

.alignleft {
  float: left;
  margin: 0 20px 10px 0; }
  @media screen and (max-width: 768px) {
    .alignleft {
      display: block;
      float: none;
      margin: 10px auto; } }

.title-heading {
  width: 129px;
  background-image: url(/images/background/yarlik.png);
  background-repeat: no-repeat;
  font-weight: 700;
  padding: 10px 12px;
  margin: 0 0 10px 0;
  font: 14px "PT Serif";
  color: #ffffff; }

.row-heading.top {
  margin-bottom: 44px; }
  .row-heading.top .group-link {
    padding: 0 25px; }
    @media screen and (max-width: 768px) {
      .row-heading.top .group-link {
        padding: 0 10px; } }
  .row-heading.top .heading-item {
    width: 100px;
    height: 100px;
    display: block;
    font-size: 14px;
    line-height: 1.14;
    margin: 10px auto;
    padding: 35px 10px 0 10px; }
    .row-heading.top .heading-item:after {
      margin: 5px auto; }

.wrapper-head-bootom {
  background-color: #f1f9fd; }

.row-heading.bottom {
  width: 1060px;
  padding: 40px 0;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .row-heading.bottom {
      width: 100%; } }
  .row-heading.bottom .heading-item {
    width: 150px;
    height: 150px;
    font-size: 16px; }

.related .items {
  -webkit-flex-basis: -webkit-calc(100%/3 - 20px);
  -ms-flex-preferred-size: calc(100%/3 - 20px);
  flex-basis: -moz-calc(100%/3 - 20px);
  flex-basis: calc(100%/3 - 20px);
  background-color: #f1f9fd;
  border: transparent;
  position: relative;
  padding: 0;
  height: 280px; }
  @media screen and (max-width: 641px) {
    .related .items {
      -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
      margin: 10px auto; } }
  .related .items.nopicture {
    background-color: transparent;
    text-align: left;
    padding: 7px 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(73, 110, 134, 0.8); }
    @media screen and (max-width: 1023px) {
      .related .items.nopicture {
        padding: 10px; } }
    @media screen and (min-width: 1024px) and (max-width: 1240px) {
      .related .items.nopicture {
        padding: 7px 5px 0; } }
    .related .items.nopicture .items-title-articl:before {
      content: none; }
    .related .items.nopicture .items-title-articl:after {
      content: "";
      display: block;
      width: 20px;
      border-bottom: 1px solid #7bbfec;
      margin: 15px 0 0; }
    .related .items.nopicture > p {
      font-size: 14px;
      padding: 0;
      -webkit-column-width: 168px;
      -moz-column-width: 168px;
      column-width: 168px;
      height: 103px;
      overflow: hidden; }
      @media screen and (max-width: 641px) {
        .related .items.nopicture > p {
          height: auto;
          overflow: initial; } }
    .related .items.nopicture .meta {
      stify-content: flex-start; }
      .related .items.nopicture .meta .meta-span.dark.views {
        margin-left: 0; }
  .related .items .items-title-articl {
    height: 30px;
    -webkit-column-width: 153px;
    -moz-column-width: 153px;
    column-width: 153px;
    overflow: hidden;
    line-height: 0.98;
    margin-top: 10px; }
    .related .items .items-title-articl:hover {
      color: #7bbfec; }
    .related .items .items-title-articl:before {
      content: "";
      display: block;
      width: 20px;
      border-bottom: 1px solid #7bbfec;
      position: absolute;
      top: 180px;
      margin: 0 auto;
      left: 0;
      right: 0; }
    .related .items .items-title-articl.bold {
      font-family: "PT Sans";
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      padding: 0;
      margin: 30px 0 24px;
      -webkit-column-width: 153px;
      -moz-column-width: 153px;
      column-width: 153px;
      height: 56px;
      overflow: hidden; }
      .related .items .items-title-articl.bold:after {
        position: absolute;
        top: 97px;
        margin: 10px 0 0; }

.publication-content .meta {
  padding: 15px 0 20px; }
  .publication-content .meta .meta-span {
    margin: 0; }

.publication {
  border: 1px solid #f1f9fd;
  margin: 35px 0;
  padding: 40px 20px 20px; }
  @media screen and (max-width: 641px) {
    .publication {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 30px 0 0; } }
  .publication > img {
    width: 230px;
    height: 200px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin: 0 20px 20px 0; }
  .publication .link-pub {
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    -webkit-column-width: 396px;
    -moz-column-width: 396px;
    column-width: 396px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 24px; }
    .publication .link-pub:hover {
      color: #77c1ee; }
  .publication .piblicat {
    line-height: 18px;
    color: rgba(73, 110, 134, 0.8);
    font-size: 14px;
    line-height: 1.29; }
    .publication .piblicat:before {
      content: "";
      display: block;
      width: 20px;
      border-bottom: 1px solid #7bbfec;
      margin: -10px 0 14px;
      position: absolute; }
  .publication .meta {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .publication .meta .messag {
      margin-left: 30px; }
  .publication .pub-link {
    font-size: 16px; }

.small-publicat .publication:nth-child(2n+1) {
  background-color: #eff8fd; }

/*# sourceMappingURL=maps/heading-article.css.map */
