@charset "UTF-8";
figure {
  font-family: "PTSerif-Regular"; }

h1,
h2,
h3,
h4,
h5,
h6,
.soc-inf {
  font: 24px "PTSerif-Bold";
  color: #1d5273;
  padding: 10px 0;
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid  #57a7dc;
  padding: 20px 0 10px;
  margin: 0 0 40px;
  position: relative; }
  h1:after {
    content: "";
    display: block;
    width: 160px;
    border: 3px solid #57a7dc;
    position: absolute;
    bottom: 0; }

h3 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h5, h6 {
  font-size: 16px; }

.wrapper-content p a {
  color: #7bbfec;
  text-decoration: underline; }
  .wrapper-content p a:hover {
    color: #2bd081;
    text-decoration: none; }

.post,
.advert,
.row-heading.top,
.soc-list,
.comment-reply-title,
p {
  padding: 10px 0; }

.vnimanie {
  background-color: #55a8de;
  border: 10px solid #eef8fd;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px "PTSans-Regular";
  color: #ffffff;
  padding: 25px 25px 25px 0;
  margin: 20px 0; }
  .vnimanie:before {
    content: "";
    display: inline-block;
    width: 128px;
    height: 70px;
    background: url(/images/control/bv_osnovnoi.png) no-repeat center;
    margin: 0 40px 0 40px; }
    @media screen and (max-width: 1023px) {
      .vnimanie:before {
        margin: 0 auto 10px; } }
  .vnimanie.vn-green {
    background-color: #2bd081;
    border-color: #d9ffed; }
    .vnimanie.vn-green:before {
      background: url(/images/control/bv_vajno.png) no-repeat center; }
    .vnimanie.vn-green .vnimanie-block {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      margin-top: 10px;
      padding-top: 10px; }
    .vnimanie.vn-green .critical {
      font-family: "PTSans-Bold"; }
  @media screen and (max-width: 1023px) {
    .vnimanie {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center; } }

.main ul li {
  line-height: 22px;
  padding: 8px 0; }
  .main ul li:before {
    content: "";
    display: initial;
    font: 14px "FontAwesome";
    color: #2bd081;
    padding: 0 19px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.main ol {
  counter-reset: list1; }
  .main ol li {
    padding: 8px 0; }
  .main ol li:before {
    content: counter(list1);
    counter-increment: list1;
    margin-right: 10px;
    color: #2bd081;
    font-family: "PTSerif-Regular"; }
  .main ol li li {
    padding: 10px 0 0 0; }
  .main ol li ol {
    width: 100%;
    margin-top: 20px; }
  .main ol li ol li:before {
    content: "\f0da";
    font-family: "FontAwesome";
    margin-left: -30px; }

figure img {
  width: 100%; }

.alignright, .alignleft {
  width: 50%; }
  @media screen and (max-width: 1023px) {
    .alignright, .alignleft {
      width: 100%; } }

.aligncenter {
  width: 100%; }

.alignright {
  float: right;
  margin: 10px 0 0 30px; }
  @media screen and (max-width: 1023px) {
    .alignright {
      float: none;
      margin: 10px 0 0; } }

.alignleft {
  float: left;
  margin: 10px 30px 0 0; }
  @media screen and (max-width: 1023px) {
    .alignleft {
      float: none;
      margin: 10px 0 0; } }

.title-heading {
  width: 129px;
  background-image: url(/images/background/yarlik.png);
  background-repeat: no-repeat;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  font: 14px "PTSerif-Bold";
  color: #ffffff; }

.row-heading.top {
  padding: 0 20px 30px; }
  @media screen and (max-width: 1023px) {
    .row-heading.top {
      padding: 0 5px 20px; } }
  .row-heading.top .heading-item {
    width: 95px;
    height: 95px;
    font-size: 13px;
    line-height: 13px;
    margin: 10px auto; }
    .row-heading.top .heading-item:after {
      margin-top: 5px; }

.row-heading.bottom {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .row-heading.bottom .heading-item {
    width: 140px;
    height: 140px; }
    @media screen and (max-width: 1023px) {
      .row-heading.bottom .heading-item {
        width: 96px;
        height: 96px;
        margin: 10px auto; } }

.related {
  padding: 20px 0; }
  .related .items {
    height: 280px;
    -webkit-flex-basis: -webkit-calc(100%/3 - 20px);
    -ms-flex-preferred-size: calc(100%/3 - 20px);
    flex-basis: -moz-calc(100%/3 - 20px);
    flex-basis: calc(100%/3 - 20px);
    background-color: #f1f9fd;
    border: transparent;
    position: relative;
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 641px) {
      .related .items {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: auto; } }
    .related .items.nopicture {
      background-color: transparent;
      text-align: left;
      padding: 7px 20px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: rgba(73, 110, 134, 0.8); }
      @media screen and (max-width: 1023px) {
        .related .items.nopicture {
          padding: 10px; } }
      @media screen and (min-width: 1024px) and (max-width: 1240px) {
        .related .items.nopicture {
          padding: 7px 5px 0; } }
      .related .items.nopicture .items-title-articl:before {
        content: none; }
      .related .items.nopicture .items-title-articl:after {
        content: "";
        display: block;
        width: 20px;
        border-bottom: 1px solid #7bbfec;
        margin: 15px 0 0; }
    .related .items img {
      width: 100%; }
    .related .items .items-title-articl {
      color: #496e86; }
      .related .items .items-title-articl:hover {
        color: #7bbfec; }
      .related .items .items-title-articl:before {
        content: "";
        display: block;
        width: 20px;
        border-bottom: 1px solid #7bbfec;
        margin: 10px auto; }
      .related .items .items-title-articl.bold {
        font-family: "PTSans-Bold";
        font-size: 18px;
        line-height: 18px;
        padding: 20px 0; }

.publication {
  border: 1px solid #f1f9fd;
  padding: 20px 0;
  margin: 20px 0; }
  @media screen and (max-width: 641px) {
    .publication {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 10px; } }
  .publication.nobackg {
    background-color: transparent; }
  .publication > a {
    display: block;
    margin: 0 auto; }
  .publication .picture {
    height: 200px;
    width: 230px;
    margin: 0 20px; }
  .publication .link-pub {
    font-family: "PTSans-Bold";
    font-size: 24px; }
    .publication .link-pub:hover {
      color: #77c1ee; }
    .publication .link-pub:after {
      content: "";
      display: block;
      width: 20px;
      border-bottom: 1px solid #7bbfec;
      margin: 10px 0; }
  .publication .piblicat {
    line-height: 18px;
    color: rgba(73, 110, 134, 0.8); }
  .publication .meta {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .publication .meta .messag {
      margin-left: 20px; }
  .publication .pub-link {
    font-size: 16px; }

.advert img {
  width: 100%; }

/*# sourceMappingURL=maps/heading-article.css.map */
