@charset "UTF-8";
.articles-popularin,
.articles-headings,
.question,
.articles-publications {
  width: 1060px;
  margin: 0 auto;
  margin: 50px auto; }
  @media screen and (max-width: 1023px) {
    .articles-popularin,
    .articles-headings,
    .question,
    .articles-publications {
      width: 100%; } }
  @media screen and (min-width: 1024px) and (max-width: 1240px) {
    .articles-popularin,
    .articles-headings,
    .question,
    .articles-publications {
      width: 100%; } }

.articles-headings .content,
.articles-publications,
.articles-headings .heading-item {
  font-size: 16px; }

.articles-popularin .items {
  background-color: rgba(239, 248, 253, 0.9);
  margin: 0 10px 10px; }
  .articles-popularin .items img {
    width: 100%; }
  .articles-popularin .items:hover * {
    color: #2bd081; }
  .articles-popularin .items:first-child {
    margin-left: 0; }
  .articles-popularin .items:last-child {
    margin-right: 0; }

.home-titl {
  padding: 50px 0 0; }

.wrapper-discusses {
  background: url(/images/background/doctor.jpg) no-repeat;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  padding: 30px 10px 30px; }
  @media screen and (max-width: 1024px) {
    .wrapper-discusses {
      padding: 0; } }

.articles-discusses {
  width: 880px; }
  @media screen and (max-width: 691px) {
    .articles-discusses {
      width: 100%;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (min-width: 692px) and (max-width: 1240px) {
    .articles-discusses {
      width: 100%; } }
  .articles-discusses-popular {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 320px;
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    height: 280px;
    background-image: url(/images/background/pattern_green.png);
    font: 24px "PT Serif";
    color: #ffffff;
    margin: 0 40px 10px 0;
    padding-top: 4.125em;
    font-weight: 700;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 691px) {
      .articles-discusses-popular {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: auto;
        padding: 20px  10px;
        margin: 0 0 20px 0; } }
  @media screen and (min-width: 701px) {
    .articles-discusses .wrapper-articles {
      -webkit-flex-basis: 61%;
      -ms-flex-preferred-size: 61%;
      flex-basis: 61%; } }
  .articles-discusses .items {
    -webkit-flex-basis: -webkit-calc(100%/2 - 20px);
    -ms-flex-preferred-size: calc(100%/2 - 20px);
    flex-basis: -moz-calc(100%/2 - 20px);
    flex-basis: calc(100%/2 - 20px);
    text-align: left;
    margin: 0; }
    .articles-discusses .items .items-text {
      line-height: 18px;
      -webkit-column-width: 234px;
      -moz-column-width: 234px;
      column-width: 234px;
      height: 57px;
      overflow: hidden; }
    @media screen and (min-width: 561px) and (max-width: 1023px) {
      .articles-discusses .items {
        padding: 10px; } }
    @media screen and (max-width: 560px) {
      .articles-discusses .items {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .articles-discusses .items a:hover {
      color: #d0e8df; }
    .articles-discusses .items .items-link {
      font: 18px "PT Sans";
      color: #ffffff;
      padding: 40px 0;
      font-weight: 700;
      -webkit-column-width: 234px;
      -moz-column-width: 234px;
      column-width: 234px;
      height: 50px;
      overflow: hidden; }
    .articles-discusses .items .items-link-discus {
      display: block;
      width: 234px;
      white-space: nowrap;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden; }
    .articles-discusses .items .meta-span {
      margin: 0; }
    .articles-discusses .items .items-link-discus,
    .articles-discusses .items .items-text {
      font: 14px "PT Sans";
      color: #ffffff; }
    .articles-discusses .items .items-link-discus:after {
      content: "";
      display: block;
      width: 20px;
      border-bottom: 1px solid #2ad183;
      margin: 21px 0 14px 0; }

@media screen and (max-width: 1023px) {
  .articles-headings.home {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .articles-headings.home {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

.articles-headings.home .row-item {
  width: 247px; }
  @media screen and (max-width: 641px) {
    .articles-headings.home .row-item {
      width: 200px; } }
  .articles-headings.home .row-item a:hover {
    color: #77c1ee; }

.articles-headings.home > .columns-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  padding-right: 20px;
  padding-top: 20px; }
  @media screen and (max-width: 1023px) {
    .articles-headings.home > .columns-left {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  .articles-headings.home > .columns-left > .title {
    width: 100%; }
  .articles-headings.home > .columns-left > .row-item {
    padding: 0 0 27px 0; }
    .articles-headings.home > .columns-left > .row-item .content {
      -webkit-column-width: 247px;
      -moz-column-width: 247px;
      column-width: 247px;
      height: 34px;
      overflow: hidden;
      line-height: 1; }
    .articles-headings.home > .columns-left > .row-item .height-chronicle {
      -webkit-column-width: 247px;
      -moz-column-width: 247px;
      column-width: 247px;
      height: 39px;
      overflow: hidden;
      line-height: 1; }
  .articles-headings.home > .columns-left > .heading-item {
    padding: 0; }

.articles-headings.home .row-heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 520px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 520px;
  flex: 0 0 520px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: transparent;
  border: 10px #f3fafe solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 70px; }
  @media screen and (max-width: 641px) {
    .articles-headings.home .row-heading {
      padding: 0; } }
  @media screen and (max-width: 1023px) {
    .articles-headings.home .row-heading {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
      -moz-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }
  .articles-headings.home .row-heading .heading-item {
    -webkit-flex-basis: 160px;
    -ms-flex-preferred-size: 160px;
    flex-basis: 160px;
    height: 160px;
    margin-top: -22px; }
    @media screen and (max-width: 1023px) {
      .articles-headings.home .row-heading .heading-item {
        -webkit-flex-basis: 120px;
        -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
        height: 120px;
        font-size: 14px;
        padding: 40px 20px 0 20px;
        margin: 10px auto; } }
  .articles-headings.home .row-heading > .title-articl.right {
    padding: 20px 0 0 0;
    height: 90px; }

.articles-headings.home .link-article {
  color: #496e86;
  font-size: 16px;
  line-height: 16px;
  -webkit-column-width: 234px;
  -moz-column-width: 234px;
  column-width: 234px;
  height: 34px;
  overflow: hidden; }
  .articles-headings.home .link-article.float {
    display: inline;
    font-size: 14px;
    color: rgba(73, 110, 134, 0.81);
    padding: 0; }

.articles-headings.home .symbol-link {
  font-size: 14px;
  padding-top: 10px;
  color: rgba(73, 110, 134, 0.81);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .articles-headings.home .symbol-link.left {
    display: inline;
    padding: 0; }
    .articles-headings.home .symbol-link.left:after {
      padding-left: 10px; }

.articles-headings.home .symbol-link.right:before,
.articles-headings.home .symbol-link.left:after {
  content: "";
  display: inline-block;
  font: 12px "icomoon";
  color: #7bbfec;
  padding-right: 10px; }

.wrapper-publications {
  background-color: #f3fafe;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px auto; }
  .wrapper-publications > .title-main {
    display: block;
    max-width: 1060px;
    color: #77c1ee;
    padding: 50px 0 22px 0;
    text-align: left;
    margin: 0 auto; }
    .wrapper-publications > .title-main:after {
      content: none; }
  .wrapper-publications .publication-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .wrapper-publications .publication-content .pub-link {
      display: block;
      padding-top: 15px; }
    .wrapper-publications .publication-content .link-piblicat {
      padding: 0px 15px 0px 0px; }
  .wrapper-publications .social-link-column {
    width: 250px;
    height: 270px;
    background-image: url(/images/background/pattern_green.png);
    color: #ffffff;
    padding: 51px 34px 20px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .wrapper-publications .social-link-column {
        width: 100%;
        min-height: 220px; } }
    .wrapper-publications .social-link-column .title {
      color: #ffffff;
      padding: 0; }
      .wrapper-publications .social-link-column .title:after {
        border-color: #ffffff;
        margin: 25px auto 40px; }
    .wrapper-publications .social-link-column .title-social-link {
      padding: 0 0 16px; }
  .wrapper-publications .padding-left {
    padding-left: 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper-publications .articles-publications {
    margin: 20px auto; }
    @media screen and (max-width: 641px) {
      .wrapper-publications .articles-publications {
        display: block; } }
    .wrapper-publications .articles-publications .title-main {
      width: 100%;
      text-align: left;
      padding-bottom: 40px; }
      .wrapper-publications .articles-publications .title-main:after {
        content: none; }
  .wrapper-publications .publication-columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0; }
    .wrapper-publications .publication-columns .publication.main {
      -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
      -ms-flex-preferred-size: calc(100%/2 - 10px);
      flex-basis: -moz-calc(100%/2 - 10px);
      flex-basis: calc(100%/2 - 10px);
      padding: 0 0 30px 0;
      margin: 0;
      line-height: 16px; }
      @media screen and (min-width: 320px) and (max-width: 641px) {
        .wrapper-publications .publication-columns .publication.main {
          -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }

.question {
  background-image: url(/images/background/fon_pop_vopros.jpg);
  background-position: center;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .question-wrapper {
    width: 880px;
    padding: 50px 0; }
    @media screen and (max-width: 1023px) {
      .question-wrapper {
        width: 100%; } }
    @media screen and (min-width: 1024px) and (max-width: 1240px) {
      .question-wrapper {
        width: 100%; } }
    .question-wrapper .title-main {
      width: 100%;
      background-image: url(/images/background/pattern_green.png);
      color: #ffffff;
      padding: 29px 0;
      margin-bottom: 40px; }
      .question-wrapper .title-main:after {
        background-image: url(/images/control/line_white.svg);
        background-repeat: no-repeat;
        opacity: 1; }
    .question-wrapper ul {
      -webkit-flex-basis: -webkit-calc(100%/5 - 20px);
      -ms-flex-preferred-size: calc(100%/5 - 20px);
      flex-basis: -moz-calc(100%/5 - 20px);
      flex-basis: calc(100%/5 - 20px); }
      @media screen and (max-width: 1023px) {
        .question-wrapper ul {
          -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
          -ms-flex-preferred-size: calc(100%/2 - 10px);
          flex-basis: -moz-calc(100%/2 - 10px);
          flex-basis: calc(100%/2 - 10px); } }
      .question-wrapper ul:last-child {
        padding-right: 0; }
      .question-wrapper ul a {
        display: block;
        font: 16px "PT Sans";
        color: #496e86;
        padding-bottom: 15px;
        line-height: 1; }
        .question-wrapper ul a:hover {
          color: #00d381; }

/*# sourceMappingURL=maps/main.css.map */
