@charset "UTF-8";
.articles-popularin,
.articles-headings,
.question,
.articles-publications {
  width: 1060px;
  margin: 0 auto;
  margin: 50px auto; }
  @media screen and (max-width: 1023px) {
    .articles-popularin,
    .articles-headings,
    .question,
    .articles-publications {
      width: 100%; } }
  @media screen and (min-width: 1024px) and (max-width: 1240px) {
    .articles-popularin,
    .articles-headings,
    .question,
    .articles-publications {
      width: 100%; } }

.articles-headings .content,
.articles-publications,
.articles-headings .heading-item {
  font-size: 16px; }

.articles-popularin .items {
  background-color: rgba(239, 248, 253, 0.9); }
  .articles-popularin .items:hover * {
    color: #00d381; }

.home-titl {
  padding: 50px 0 0; }

.wrapper-discusses {
  background: url(/images/background/doctor.jpg) no-repeat;
  -o-background-size: 100% 100%;
  background-size: 100% 100%; }

.articles-discusses {
  width: 880px;
  padding: 40px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1023px) {
    .articles-discusses {
      width: 100%;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 10px; } }
  @media screen and (min-width: 1024px) and (max-width: 1240px) {
    .articles-discusses {
      width: 100%; } }
  .articles-discusses-popular {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 340px;
    -ms-flex-preferred-size: 340px;
    flex-basis: 340px;
    height: 280px;
    background-image: url(/images/background/pattern_green.png);
    font: 24px "PT Serif";
    color: #ffffff;
    margin-right: 40px;
    padding-top: 4em;
    font-weight: 700;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 1023px) {
      .articles-discusses-popular {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: auto;
        padding: 20px  10px; } }
  .articles-discusses .wrapper-articles {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .articles-discusses .items {
    -webkit-flex-basis: -webkit-calc(100%/2 - 20px);
    -ms-flex-preferred-size: calc(100%/2 - 20px);
    flex-basis: -moz-calc(100%/2 - 20px);
    flex-basis: calc(100%/2 - 20px);
    padding: 40px 0 0;
    line-height: 18px;
    text-align: left; }
    @media screen and (max-width: 1023px) {
      .articles-discusses .items {
        padding: 0; } }
    .articles-discusses .items a:hover {
      color: #d0e8df; }
    @media screen and (max-width: 560px) {
      .articles-discusses .items {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .articles-discusses .items .items-link {
      font: 18px "PT Sans";
      color: #ffffff;
      padding-bottom: 20px;
      font-weight: 700; }
    .articles-discusses .items .items-link-discus,
    .articles-discusses .items .items-text {
      font: 14px "PT Sans";
      color: #ffffff; }
    .articles-discusses .items .items-link-discus:after {
      content: "";
      display: block;
      width: 20px;
      border: 1px solid #00d381;
      margin: 20px 0; }

@media screen and (max-width: 1023px) {
  .articles-headings.home {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .articles-headings.home {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

.articles-headings.home .row-item {
  -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
  -ms-flex-preferred-size: calc(100%/2 - 10px);
  flex-basis: -moz-calc(100%/2 - 10px);
  flex-basis: calc(100%/2 - 10px); }
  @media screen and (max-width: 641px) {
    .articles-headings.home .row-item {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
      -moz-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }
  .articles-headings.home .row-item a:hover {
    color: #77c1ee; }

.articles-headings.home > .columns-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  padding-right: 20px; }
  @media screen and (max-width: 1023px) {
    .articles-headings.home > .columns-left {
      -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  .articles-headings.home > .columns-left > .title {
    width: 100%; }
  .articles-headings.home > .columns-left > .row-item {
    padding: 0 0 18px 0; }

.articles-headings.home .row-heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 500px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  background-color: transparent;
  border: 10px #f3fafe solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px; }
  @media screen and (max-width: 641px) {
    .articles-headings.home .row-heading {
      padding: 0; } }
  @media screen and (max-width: 1023px) {
    .articles-headings.home .row-heading {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
      -moz-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%; } }
  .articles-headings.home .row-heading .heading-item {
    -webkit-flex-basis: 170px;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    height: 170px;
    padding: 0; }
    @media screen and (max-width: 1023px) {
      .articles-headings.home .row-heading .heading-item {
        -webkit-flex-basis: 120px;
        -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
        height: 120px;
        margin: 10px auto; } }
  .articles-headings.home .row-heading > .title-articl.right {
    padding: 20px 0 0 10px; }

.articles-headings.home .link-article {
  color: #496e86;
  font-size: 16px; }
  .articles-headings.home .link-article.float {
    display: inline;
    font-size: 14px;
    color: rgba(73, 110, 134, 0.81);
    padding: 0; }

.articles-headings.home .symbol-link {
  font-size: 14px;
  padding-top: 15px;
  color: rgba(73, 110, 134, 0.81); }
  .articles-headings.home .symbol-link.left {
    display: inline;
    padding: 0; }
    .articles-headings.home .symbol-link.left:after {
      padding-left: 10px; }

.articles-headings.home .symbol-link.right:before,
.articles-headings.home .symbol-link.left:after {
  content: "";
  display: inline-block;
  font: 12px "icomoon";
  color: #7bbfec;
  padding-right: 10px; }

.wrapper-publications {
  background-color: #f3fafe;
  padding: 0 10px;
  margin: 30px auto; }
  .wrapper-publications > .title-main {
    display: block;
    padding: 20px 0; }
  .wrapper-publications .social-link-column {
    width: 250px;
    height: 270px;
    background-image: url(/images/background/pattern_green.png);
    color: #ffffff;
    padding: 39px  20px 0;
    line-height: 24px; }
    @media screen and (max-width: 1023px) {
      .wrapper-publications .social-link-column {
        height: 200px; } }
    .wrapper-publications .social-link-column .title {
      color: #ffffff; }
      .wrapper-publications .social-link-column .title:after {
        border-color: #ffffff;
        margin: 20px auto; }
    .wrapper-publications .social-link-column .title-social-link {
      padding: 10px 0 23px; }
  .wrapper-publications .articles-publications {
    padding: 0 0 30px 0;
    margin: 20px auto; }
    .wrapper-publications .articles-publications .title-main {
      width: 100%;
      text-align: left;
      padding-bottom: 40px; }
      .wrapper-publications .articles-publications .title-main:after {
        content: none; }
  .wrapper-publications .publication-columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0; }
    .wrapper-publications .publication-columns .publication.main {
      -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
      -ms-flex-preferred-size: calc(100%/2 - 10px);
      flex-basis: -moz-calc(100%/2 - 10px);
      flex-basis: calc(100%/2 - 10px);
      padding: 0 0 20px 0;
      margin: 0;
      line-height: 16px; }
      @media screen and (max-width: 641px) {
        .wrapper-publications .publication-columns .publication.main {
          -webkit-box-flex: 100%;
          -webkit-flex: 100%;
          -moz-box-flex: 100%;
          -ms-flex: 100%;
          flex: 100%;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -moz-box-orient: horizontal;
          -moz-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row; }
          .wrapper-publications .publication-columns .publication.main .publication-content {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 0;
            -moz-box-flex: 1;
            -ms-flex: 1 1 0px;
            flex: 1 1 0; } }

.question {
  background-image: url(/images/background/fon_pop_vopros.jpg);
  background-position: center;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .question-wrapper {
    width: 880px;
    padding: 50px 0; }
    @media screen and (max-width: 1023px) {
      .question-wrapper {
        width: 100%; } }
    @media screen and (min-width: 1024px) and (max-width: 1240px) {
      .question-wrapper {
        width: 100%; } }
    .question-wrapper .title-main {
      width: 100%;
      background-image: url(/images/background/pattern_green.png);
      color: #ffffff;
      padding: 29px 0;
      margin-bottom: 40px; }
      .question-wrapper .title-main:after {
        background-color: #fff;
        background-image: -webkit-linear-gradient(left, #fff, #ffffff, #fff);
        background-image: -moz-linear-gradient(left, #fff, #ffffff, #fff);
        background-image: -o-linear-gradient(left, #fff, #ffffff, #fff); }
    .question-wrapper ul {
      -webkit-flex-basis: -webkit-calc(100%/5 - 20px);
      -ms-flex-preferred-size: calc(100%/5 - 20px);
      flex-basis: -moz-calc(100%/5 - 20px);
      flex-basis: calc(100%/5 - 20px); }
      @media screen and (max-width: 1023px) {
        .question-wrapper ul {
          -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
          -ms-flex-preferred-size: calc(100%/2 - 10px);
          flex-basis: -moz-calc(100%/2 - 10px);
          flex-basis: calc(100%/2 - 10px); } }
      .question-wrapper ul:last-child {
        padding-right: 0; }
      .question-wrapper ul a {
        display: block;
        font: 16px "PT Sans";
        color: #496e86;
        padding-bottom: 15px; }
        .question-wrapper ul a:hover {
          color: #00d381; }

/*# sourceMappingURL=maps/main.css.map */
