@charset "UTF-8";
header {
  background: url(/images/background/image_heder.jpg) no-repeat;
  -o-background-size: cover;
  background-size: cover; }

.wrapper-header {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto; }

.header-body {
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0; }
  .header-body .menu-header-top ul.menu-top {
    padding: 0 20px; }
    .header-body .menu-header-top ul.menu-top a {
      color: #ffffff;
      padding-bottom: 5px;
      position: relative; }
      .header-body .menu-header-top ul.menu-top a:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid #ffffff;
        opacity: 0;
        -webkit-transition: opacity .3s,-webkit-transform .3s;
        transition: opacity .3s,-webkit-transform .3s;
        -o-transition: opacity .3s,-o-transform .3s;
        -moz-transition: opacity .3s,transform .3s,-moz-transform .3s;
        transition: opacity .3s,transform .3s;
        transition: opacity .3s,transform .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
      .header-body .menu-header-top ul.menu-top a:hover:after {
        opacity: 1;
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
        transform: translateY(-4px); }

.main-navigation {
  width: 100%;
  background: url(/images/background/pattern_blue.png); }
  .main-navigation ul.menu {
    width: 1060px; }
    .main-navigation ul.menu li.menu-item {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      position: relative; }
      .main-navigation ul.menu li.menu-item:hover .sub-menu {
        display: block; }
      .main-navigation ul.menu li.menu-item:after {
        content: '•';
        display: inline-block;
        vertical-align: middle;
        font: 12px "PTSans-Regular";
        color: #ffffff; }
      .main-navigation ul.menu li.menu-item:hover:after {
        color: transparent; }
      .main-navigation ul.menu li.menu-item:hover {
        background-color: #7cc0ed; }
      .main-navigation ul.menu li.menu-item:last-of-type:after {
        color: transparent; }
    .main-navigation ul.menu a {
      font: 16px "PTSans-Regular";
      color: #ffffff;
      padding: 18px 15px; }
    .main-navigation ul.menu ul.sub-menu {
      display: none;
      min-width: 230px;
      background-color: #7cc0ed;
      position: absolute;
      top: 100%;
      margin: 0;
      z-index: 2; }
      .main-navigation ul.menu ul.sub-menu li.menu-item:hover {
        background-color: #2f8fc8; }
        .main-navigation ul.menu ul.sub-menu li.menu-item:hover > ul.sub-menu.second {
          display: block; }
      .main-navigation ul.menu ul.sub-menu li.menu-item::after {
        font-size: 0; }
      .main-navigation ul.menu ul.sub-menu ul.sub-menu.second {
        display: none;
        left: 100%;
        top: 0; }

.search-form {
  width: 250px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .search-form .searchstring {
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: calc(100% - 65px);
    padding: 10px;
    background: #eff8fd;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: 14px "PTSans-Regular";
    color: rgba(73, 110, 134, 0.5); }
    .search-form .searchstring::-moz-placeholder {
      font: 14px "PTSans-Regular";
      color: rgba(73, 110, 134, 0.5);
      opacity: 1; }
    .search-form .searchstring::-webkit-input-placeholder {
      font: 14px "PTSans-Regular";
      color: rgba(73, 110, 134, 0.5);
      opacity: 1; }

.searchsubmit {
  width: 40px;
  height: 40px;
  font: 14px "FontAwesome";
  color: #ffffff;
  vertical-align: top;
  border: 1px solid #eff8fd;
  background-color: #7cc0ed;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer; }

.sign-search {
  font: 12px "PTSans-Regular";
  color: #ffffff;
  padding-top: 5px; }

.breadcrumbs-list {
  padding: 0; }

.breadcrumb {
  font: 13px "PTSans-Regular";
  color: #7bbfec; }
  .breadcrumb:before {
    content: "";
    display: inline-block;
    font: 14px "FontAwesome";
    color: #7bbfec;
    line-height: 24px;
    padding: 0 7px; }
  .breadcrumb:first-child:before {
    content: "\f015";
    padding-left: 0; }

.widget-area {
  -webkit-flex-basis: 310px;
  -ms-flex-preferred-size: 310px;
  flex-basis: 310px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .widget-area .items {
    text-align: left; }
    .widget-area .items.back {
      border: 30px solid #eff8fd;
      margin-bottom: 30px; }
      .widget-area .items.back .items-content {
        background-color: #ffffff; }
        .widget-area .items.back .items-content:hover a,
        .widget-area .items.back .items-content:hover .meta-span {
          color: #2bd081; }
    .widget-area .items.border {
      border-left: 1px solid #eff8fd;
      border-right: 1px solid #eff8fd; }
      .widget-area .items.border:last-of-type {
        border-bottom: 1px solid #eff8fd; }
      .widget-area .items.border:hover {
        background-color: #2bd081; }
        .widget-area .items.border:hover:hover a,
        .widget-area .items.border:hover:hover .meta-span {
          color: #ffffff; }
      .widget-area .items.border .items-content a {
        text-align: left;
        font-size: 16px; }
      .widget-area .items.border .items-content .meta {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 5px 0; }
        .widget-area .items.border .items-content .meta .messag {
          margin-left: 30px; }
    .widget-area .items .meta-span {
      color: #77c1ee; }
    .widget-area .items .items-title-articl {
      padding: 5px 0; }

.short-navig {
  padding-top: 7px; }

.row-navig {
  background-color: #eef8fd;
  border-bottom: 1px solid #ffffff;
  font-family: "PTSans-Bold";
  font-size: 18px;
  padding: 16px 20px;
  cursor: pointer; }
  .row-navig.opened:before {
    content: "";
    display: inline-block; }
  .row-navig:before {
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    padding-right: 20px; }

.row-navig:hover,
.row-navig.opened:hover,
.hidd:hover {
  background-color: #2bd081;
  color: #ffffff; }

.total-number {
  font-family: "PTSans-Regular";
  float: right; }

.hidden-block {
  display: none; }
  .hidden-block.opened {
    display: block; }
  .hidden-block .hidd {
    font-family: "PTSans-Regular";
    padding: 16px 20px 16px 47px;
    border: 1px solid #eef8fd;
    border-top: 0; }

.asadvert-aside {
  width: 100%;
  height: 446px;
  padding: 30px 0; }
  .asadvert-aside img {
    margin: 0 auto; }

.title-aside {
  background-image: url(/images/background/pattern_blue.png);
  background-repeat: repeat;
  font: 18px "PTSans-Bold";
  color: #ffffff;
  padding: 16px 20px; }
  .title-aside:before {
    content: "";
    display: inline-block;
    width: 20px;
    border: 1px solid #ffffff;
    margin-right: 20px;
    vertical-align: middle; }

.site-content {
  width: 1060px;
  padding: 30px 0; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  max-width: 700px;
  padding-right: 50px;
  line-height: 24px; }
  .main.article {
    font-size: 16px; }

figure {
  font-family: "PTSerif-Regular"; }

h1,
h2,
h3,
h4 {
  font: 24px "PTSerif-Bold";
  color: #1d5273;
  padding: 10px 0;
  margin: 0; }

h1 {
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid  #57a7dc;
  padding: 20px 0 10px;
  margin: 0 0 40px;
  position: relative; }
  h1:after {
    content: "";
    display: block;
    width: 160px;
    border: 3px solid #57a7dc;
    position: absolute;
    bottom: 0; }

h3 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

.underline {
  color: #55a8de;
  text-decoration: underline; }

.bold {
  font-family: "PTSans-Bold"; }

.color {
  color: #2bd081; }

.post,
.advert,
.row-heading.top,
p {
  padding: 10px 0; }

.meta-span.dark,
a {
  color: #1d5273; }

.vnimanie {
  background-color: #55a8de;
  border: 10px solid #eef8fd;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 16px "PTSans-Regular";
  color: #ffffff;
  padding: 25px 25px 25px 0;
  margin: 20px 0; }
  .vnimanie.vn-green {
    background-color: #2bd081;
    border-color: #d9ffed; }
    .vnimanie.vn-green:before {
      background: url(/images/control/bv_vajno.png) no-repeat; }
    .vnimanie.vn-green .vnimanie-block {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      margin-top: 10px;
      padding-top: 10px; }
    .vnimanie.vn-green .critical {
      font-family: "PTSans-Bold"; }
  .vnimanie:before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 70px;
    background: url(/images/control/bv_osnovnoi.png) no-repeat;
    margin: 0 40px 0 40px; }

.main ul li {
  line-height: 22px;
  padding: 8px 0; }
  .main ul li:before {
    content: "";
    display: initial;
    font: 14px "FontAwesome";
    color: #2bd081;
    padding: 0 19px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.main ol {
  counter-reset: list1; }
  .main ol li {
    padding: 8px 0; }
  .main ol li li {
    padding: 10px 0 0 0; }
  .main ol li:before {
    counter-increment: list1;
    content: counters(list1, ".") ".";
    margin-right: 10px;
    color: #2bd081;
    font-family: "PTSerif-Regular"; }

.float-right {
  float: right;
  font-style: italic; }

.title-heading {
  width: 129px;
  background-image: url(/images/background/yarlik.png);
  background-repeat: no-repeat;
  padding: 8px 12px;
  margin: 0 0 10px 0;
  font: 14px "PTSerif-Bold";
  color: #ffffff; }

.row-heading.top {
  height: 178px;
  margin-bottom: 40px; }
  .row-heading.top .heading-item {
    width: 95px;
    height: 95px;
    font-size: 13px;
    line-height: 13px; }
    .row-heading.top .heading-item:after {
      margin-top: 5px; }

.row-heading.bottom {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .row-heading.bottom .heading-item {
    width: 140px;
    height: 140px; }

.related {
  padding: 20px 0; }
  .related .items {
    -webkit-flex-basis: -webkit-calc(100%/3 - 20px);
    -ms-flex-preferred-size: calc(100%/3 - 20px);
    flex-basis: -moz-calc(100%/3 - 20px);
    flex-basis: calc(100%/3 - 20px);
    background-color: rgba(241, 249, 253, 0.9);
    border: transparent;
    position: relative;
    -webkit-transition: height 5.5s, background 2s;
    -o-transition: height 5.5s, background 2s;
    -moz-transition: height 5.5s, background 2s;
    transition: height 5.5s, background 2s; }
    .related .items img {
      width: 100%; }
    .related .items:hover {
      background: transparent;
      border: 1px solid #f1f9fd; }
      .related .items:hover img {
        height: 0; }
      .related .items:hover .items-content {
        height: auto;
        overflow: visible;
        text-align: left; }
      .related .items:hover .items-title-articl {
        color: #496e86;
        text-shadow: 0.25px 0.1px 0 #496e86, -0.25px -0.1px 0 #496e86; }
      .related .items:hover .items-title-articl:after {
        position: initial;
        margin: 13px 0 0 0; }
      .related .items:hover .meta-span {
        color: #1d5273; }
  .related .items-content {
    height: 60px;
    overflow: hidden; }
  .related .items-title-articl:after {
    content: "";
    display: block;
    width: 20px;
    border: 1px solid #7bbfec;
    position: absolute;
    top: 68%;
    left: 0;
    right: 0; }

.publication {
  border: 1px solid #f1f9fd;
  padding: 20px 0;
  margin: 20px 0; }
  .publication.backhover:hover {
    background-color: #eff8fd; }
  .publication .picture {
    height: 200px;
    width: 230px;
    margin: 0 20px; }
  .publication .link-pub {
    font-family: "PTSans-Bold";
    font-size: 24px; }
    .publication .link-pub:hover {
      color: #77c1ee; }
    .publication .link-pub:after {
      content: "";
      display: block;
      width: 20px;
      border: 1px solid #7bbfec;
      margin: 10px 0; }
  .publication .piblicat {
    line-height: 18px; }
  .publication .meta {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .publication .meta .messag {
      margin-left: 20px; }
  .publication .pub-link {
    font-size: 16px; }

.summary {
  background-color: #eef8fd;
  padding: 40px 40px 30px 90px; }
  .summary .title {
    display: block;
    font: 20px "PTSerif-Bold";
    color: #496e86;
    padding-bottom: 20px; }
  .summary .ul-summary {
    height: 118px;
    overflow: hidden;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .summary .ul-summary.opened {
      height: auto; }
    .summary .ul-summary .item {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .summary .ul-summary .item.last {
        opacity: .5; }
    .summary .ul-summary .item:before {
      color: #77c1ee; }
  .summary hr {
    border: 1px solid #ffffff;
    margin: 20px 0 30px; }
  .summary .expand {
    font: 13px "PTSans-Regular";
    color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #2bd081;
    padding: 6px 24px;
    cursor: pointer; }
    .summary .expand:hover {
      background-color: #93e3bd; }

.article .articles-popularin {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eef8fd;
  padding: 0 20px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0; }
  .article .articles-popularin .items {
    -webkit-flex-basis: -webkit-calc(100%/3 - 20px);
    -ms-flex-preferred-size: calc(100%/3 - 20px);
    flex-basis: -moz-calc(100%/3 - 20px);
    flex-basis: calc(100%/3 - 20px);
    background-color: rgba(255, 255, 255, 0.9); }

.similar {
  width: 100%;
  background: url(/images/background/pattern_green.png) repeat;
  text-transform: uppercase;
  font: 14px "PTSerif-Bold";
  color: #ffffff;
  padding: 13px 0;
  margin: 20px 0; }

footer {
  background-image: url(/images/background/pattern_blue.png); }

.wrapper-footer {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
  width: 1060px;
  margin: 0 auto; }

.menu-footer ul.menu-footer {
  display: block;
  list-style: none;
  padding: 0 30px;
  margin: 0; }
  .menu-footer ul.menu-footer a {
    display: inline-block;
    font: 16px "PTSans-Regular";
    color: #ffffff;
    padding-bottom: 7px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    position: relative; }
    .menu-footer ul.menu-footer a:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 2px solid #ffffff;
      opacity: 0;
      -webkit-transition: opacity .3s,-webkit-transform .3s;
      transition: opacity .3s,-webkit-transform .3s;
      -o-transition: opacity .3s,-o-transform .3s;
      -moz-transition: opacity .3s,transform .3s,-moz-transform .3s;
      transition: opacity .3s,transform .3s;
      transition: opacity .3s,transform .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px); }
    .menu-footer ul.menu-footer a:hover:after {
      opacity: 1;
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
      transform: translateY(-4px); }

.articles-popularin,
.articles-headings,
.question,
.articles-publications {
  width: 1060px;
  margin: 0 auto;
  margin: 50px auto; }

.articles-headings .content,
.articles-publications,
.articles-headings .heading-item {
  font-size: 16px; }

.articles-popularin .items {
  background-color: rgba(239, 248, 253, 0.9); }
  .articles-popularin .items:hover * {
    color: #00d381; }

.home-titl {
  padding: 50px 0 0; }

.wrapper-discusses {
  background: url(/images/background/doctor.jpg) no-repeat;
  -o-background-size: cover;
  background-size: cover; }

.articles-discusses {
  width: 880px;
  padding: 40px 0; }
  .articles-discusses-popular {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 340px;
    -ms-flex-preferred-size: 340px;
    flex-basis: 340px;
    height: 280px;
    background-image: url(/images/background/pattern_green.png);
    font: 24px "PTSerif-Bold";
    color: #ffffff;
    margin-right: 40px;
    padding: 100px 60px;
    font-weight: 700;
    line-height: 30px; }
  .articles-discusses .items {
    -webkit-flex-basis: -webkit-calc(100%/2 - 20px);
    -ms-flex-preferred-size: calc(100%/2 - 20px);
    flex-basis: -moz-calc(100%/2 - 20px);
    flex-basis: calc(100%/2 - 20px);
    padding: 40px 0 0;
    line-height: 18px; }
    .articles-discusses .items a:hover {
      color: #d0e8df; }
    .articles-discusses .items .items-link {
      font: 18px "PTSans-Bold";
      color: #ffffff;
      padding-bottom: 20px; }
    .articles-discusses .items .items-link-discus,
    .articles-discusses .items .items-text {
      font: 14px "PTSans-Regular";
      color: #ffffff; }
    .articles-discusses .items .items-link-discus:after {
      content: "";
      display: block;
      width: 20px;
      border: 1px solid #00d381;
      margin: 20px 0; }

.articles-headings.home .row-item {
  -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
  -ms-flex-preferred-size: calc(100%/2 - 10px);
  flex-basis: -moz-calc(100%/2 - 10px);
  flex-basis: calc(100%/2 - 10px); }
  .articles-headings.home .row-item a:hover {
    color: #77c1ee; }

.articles-headings.home > .columns-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  padding-right: 20px; }
  .articles-headings.home > .columns-left > .title {
    width: 100%; }
  .articles-headings.home > .columns-left > .row-item {
    padding: 0 0 18px 0; }

.articles-headings.home .row-heading {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 520px;
  -moz-box-flex: 0;
  -ms-flex: 0 0 520px;
  flex: 0 0 520px;
  background-color: transparent;
  border: 10px #f3fafe solid;
  padding: 0 40px; }
  .articles-headings.home .row-heading .heading-item {
    -webkit-flex-basis: 170px;
    -ms-flex-preferred-size: 170px;
    flex-basis: 170px;
    height: 170px; }
  .articles-headings.home .row-heading > .title-articl.right {
    padding: 20px 0 0 10px; }

.articles-headings.home .link-article {
  color: #496e86;
  font-size: 16px; }
  .articles-headings.home .link-article.float {
    display: inline;
    font-size: 14px;
    padding: 0; }

.articles-headings.home .symbol-link {
  font-size: 14px;
  padding-top: 15px; }
  .articles-headings.home .symbol-link.left {
    display: inline;
    padding: 0; }
    .articles-headings.home .symbol-link.left:after {
      padding-left: 10px; }

.articles-headings.home .symbol-link.right:before,
.articles-headings.home .symbol-link.left:after {
  content: "";
  display: inline-block;
  font: 12px "FontAwesome";
  color: #7bbfec;
  padding-right: 10px; }

.wrapper-publications {
  background-color: #f3fafe; }
  .wrapper-publications .social-link-column {
    width: 250px;
    height: 270px;
    background-image: url(/images/background/pattern_green.png);
    color: #ffffff;
    padding: 39px  20px 0;
    line-height: 24px; }
    .wrapper-publications .social-link-column .title {
      color: #ffffff; }
      .wrapper-publications .social-link-column .title:after {
        border-color: #ffffff;
        margin: 20px auto; }
    .wrapper-publications .social-link-column .title-social-link {
      padding: 10px 0 23px; }
  .wrapper-publications .articles-publications {
    padding: 50px 0; }
    .wrapper-publications .articles-publications .title-main {
      width: 100%;
      text-align: left;
      padding-bottom: 40px; }
      .wrapper-publications .articles-publications .title-main:after {
        content: none; }
  .wrapper-publications .publication-columns {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0; }
    .wrapper-publications .publication-columns .publication.main {
      -webkit-flex-basis: -webkit-calc(100%/2 - 10px);
      -ms-flex-preferred-size: calc(100%/2 - 10px);
      flex-basis: -moz-calc(100%/2 - 10px);
      flex-basis: calc(100%/2 - 10px);
      padding: 0 0 20px 0;
      margin: 0;
      line-height: 16px; }

.question {
  background-image: url(/images/background/fon_pop_vopros.jpg);
  background-position: center;
  -o-background-size: cover;
  background-size: cover; }
  .question-wrapper {
    width: 880px;
    padding: 50px 0; }
    .question-wrapper .title-main {
      width: 100%;
      background-image: url(/images/background/pattern_green.png);
      color: #ffffff;
      padding: 29px 0;
      margin-bottom: 40px; }
      .question-wrapper .title-main:after {
        background-image: -webkit-linear-gradient(left, #fff, #ffffff, #fff);
        background-image: -moz-linear-gradient(left, #fff, #ffffff, #fff);
        background-image: -o-linear-gradient(left, #fff, #ffffff, #fff); }
    .question-wrapper ul {
      -webkit-flex-basis: -webkit-calc(100%/5 - 20px);
      -ms-flex-preferred-size: calc(100%/5 - 20px);
      flex-basis: -moz-calc(100%/5 - 20px);
      flex-basis: calc(100%/5 - 20px); }
      .question-wrapper ul:last-child {
        padding-right: 0; }
      .question-wrapper ul a {
        display: block;
        font: 16px "PTSans-Regular";
        color: #496e86;
        padding-bottom: 15px; }
        .question-wrapper ul a:hover {
          color: #00d381; }

body,
ul.menu,
main ul li,
.wrapper-header,
.header-body,
.menu-header-top,
.site-content,
.group-link,
.related,
.publication,
.publication-columns,
.articles-discusses,
.articles-headings,
.display-flex,
.meta,
.row-heading,
.heading-item,
.vnimanie,
.search-form,
.wrapper-footer,
.menu-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.site-content,
.display-flex,
.row-heading,
.related {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

h1,
.items .items-link,
.link-article,
.items-title-articl,
.symbol-link,
.title-social-link,
.title-heading,
.row-heading.top,
.row-navig,
.link-pub,
.piblicat,
.link-piblicat,
.widget-area a,
.picture-aside,
.title-aside,
.expand {
  display: block; }

.searchstrin,
.searchsubmit,
.title-articl.right,
.link-navigation,
.searchsubmit,
.searchstring,
ul.menu-top a,
ul.menu a {
  display: inline-block; }

ul.menu-top,
.articles-discusses-popular,
.float-right,
.social-link-column,
.items-content,
.heading-item,
.wp-pagenavi,
.link-navigation,
.similar {
  text-align: center; }

.site-content,
.items-title-articl:after,
.main-navigation ul.menu,
.picture-aside,
.articles-discusses,
.question-wrapper,
.heading-item,
.expand {
  margin: 0 auto; }

body,
button,
input,
select,
textarea {
  font: 14px "PTSans-Regular";
  color: #496e86; }

body {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.logo-img {
  width: 359px;
  height: 84px; }

.meta {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 0; }
  .meta.meta-white {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .meta.meta-white .messag:before {
      margin-left: 20px; }
  .meta-span {
    content: "";
    display: inline-block;
    font: 14px "FontAwesome";
    color: #7bbfec; }
    .meta-span.white {
      color: #ffffff; }
  .meta .views:before {
    content: "\f06e";
    padding-right: 5px; }
  .meta .messag:before {
    content: "\f27a";
    padding-right: 5px; }

.soclink {
  font: 16px "FontAwesome";
  color: #ffffff;
  padding: 7px; }
  .soclink:hover {
    color: #31cf87;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.title-articl {
  width: 100%;
  font: 20px "PTSerif-Bold";
  color: #496e86;
  padding: 0 0 20px 0; }
  .title-articl:after {
    content: "";
    display: block;
    width: 20px;
    border: 1px solid #ffffff;
    margin-top: 20px; }
  .title-articl.right {
    padding: 20px 0 0 70px; }
  .title-articl:after {
    border-color: #7bbfec; }

.title-main {
  font: 24px font-serifbold;
  color: #7bbfec;
  text-align: center;
  position: relative;
  font-weight: 700; }
  .title-main.main {
    padding: 40px 0; }
  .title-main:after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(29, 82, 115, 0.3);
    background-image: -webkit-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
    background-image: -moz-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
    background-image: -o-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
    margin: 10px auto 0; }

.items-title {
  font: 14px "PTSans-Regular";
  color: #00d381; }
  .items-title.white {
    color: #ffffff; }
    .items-title.white:after {
      margin: 20px 0; }
  .items-title:after {
    content: "";
    display: block;
    width: 20px;
    border: 1px solid #00d381;
    margin: 7px auto; }

.items-content {
  padding: 10px 20px; }
  .items-content .items-title-articl {
    font: 14px "PTSans-Regular";
    color: #496e86;
    padding-top: 10px; }

.items {
  -webkit-flex-basis: -webkit-calc(100%/4 - 20px);
  -ms-flex-preferred-size: calc(100%/4 - 20px);
  flex-basis: -moz-calc(100%/4 - 20px);
  flex-basis: calc(100%/4 - 20px);
  line-height: 16px; }

.row-heading {
  background-color: #f1f9fd;
  padding: 40px; }

.heading-item {
  height: 155px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background-image: url(/images/background/pop1.jpeg);
  background-position: center;
  -o-background-size: cover;
  background-size: cover;
  font: 14px "PTSerif-Regular";
  color: #1d5273;
  padding: 0 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s; }
  .heading-item:after {
    content: "";
    display: block;
    width: 20px;
    border: 1px solid #ffffff;
    margin-top: 20px; }
  .heading-item:after {
    border-color: #1d5273;
    margin-top: 15px; }
  .heading-item:hover {
    background: #31cf87;
    color: #00d381; }
    .heading-item:hover:after {
      border-color: #00d381; }
  .heading-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 10px;
    z-index: -1; }

.pub-picture {
  width: 70px;
  height: 70px;
  margin-right: 20px; }

.link-piblicat {
  color: #496e86;
  padding: 5px 5px 15px 5px; }
  .link-piblicat:hover {
    color: #77c1ee; }

.pub-link {
  color: #7cc0ed; }
  .pub-link:hover {
    color: #2aa1f0; }

.wp-pagenavi {
  width: 100%;
  margin: 40px 0; }
  .wp-pagenavi .link-navigation {
    min-width: 34px;
    font-size: 14px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cde7f8;
    padding: 5px 0;
    margin: 0 3px; }
    .wp-pagenavi .link-navigation.active {
      background-color: #cde7f8; }
    .wp-pagenavi .link-navigation:hover {
      background-color: #edf2f6; }
  .wp-pagenavi .dott {
    margin: 0 2px; }

/*# sourceMappingURL=maps/style.css.map */
