@import 'global/vars.scss';
@import 'global/mixin.scss';

 footer {background-image: url(/images/background/pattern_blue.png); }

 .wrapper-footer { 

 	justify-content: space-between;
 	padding: 25px 0;
 	@include size;

 	@media screen and (max-width: 1240px) { width: 100%; }

 	@media screen and (min-width: 642px) and (max-width: 768px) { 

 		flex-wrap: wrap;
 		justify-content: center;
 	}
}

.menu-footer { 

		ul.menu-footer {

		display: block;
		list-style: none;
		text-align: center;
		padding: 0 30px;
		margin: 0;

		@media screen and (max-width: 641px) { display: none; }

		@media screen and (min-width: 642px) and (max-width: 1024px) { padding: 10px 10px 0; }

		a {
		
			display: inline-block;
			@include font($size: 16px);
			padding-bottom: 7px;
			transition: 1s;
			position: relative;

			@media screen and (min-width: 642px) and (max-width: 1024px) { font-size: 14px; }
			
			&:after {

				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				border-bottom: 0.5px solid $color-white;	
				opacity: 0;
				transition: opacity .3s,transform .3s;
				transform: translateY(10px);
			}

			&:hover:after { 

				opacity: 1;
				transform: translateY(-4px);
			}
		}
	}	
}	
