@import 'global/vars.scss';
@import 'global/mixin.scss';
@import 'global/global.scss';
@import 'search.scss';

 header {

 	background-color: $color-header; 
 	background-image: url(/images/background/image_heder.jpg);
 	background-repeat: no-repeat;
	background-size: cover;
}

 .wrapper-header { 

 	display: flex;
 	flex-wrap: wrap;
 	@include size;
 	margin: 0 auto;
 	
 }

.header-body {

	display: flex;
	width: 100%;
	align-items:center;
	justify-content: space-between;
	padding: 30px 0;

	.menu-header-top { display: flex;

		ul.menu-top { 

			padding: 0 20px;
			text-align: center;

			a {
			
				display: inline-block;
				@include font($size: 14px);
				padding-bottom: 5px;
				transition: 1s;
				position: relative;
				
				&:after {

					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 1px;
					background: $color-white;	
					opacity: 0;
					transition: opacity .3s,transform .3s;
					transform: translateY(10px);
				}

				&:hover:after { 

					opacity: 1;
					transform: translateY(-4px);
				}
			}
		}	
	}
}

.main-navigation {

	width: 100%;
	background-image: url(/images/background/pattern_blue.png);

	ul.menu {

		display: flex;
		width: 1060px; 
		margin: 0 auto;

		 li.menu-item  { 

			transition:  all 0.3s;
			position: relative;

			&:hover .sub-menu { display: block; }
		
			 &:after {

				content: '•';
				display: inline-block;
				vertical-align: middle;
				@include font($size: 12px); 
				
			}

			&:hover:after { color: transparent; }
	        
	        &:hover  { background-color: $color-blue2; }

	        &:last-of-type:after {color: transparent; } 
	    }

		a {

			display: inline-block;
			@include font($size: 16px);
			padding: 18px 15px;
		}

		ul.sub-menu {
			
			display: none;
			min-width: 230px;
			background-color: $color-blue2;
			position: absolute;
	    	top: 100%;
	    	margin: 0;
	    	z-index: 2;

	    	li.menu-item:hover {

	    	 background-color: #2f8fc8; 

	    	 > ul.sub-menu.second { display: block; }

	    	}
			
			li.menu-item::after { font-size: 0; }

			ul.sub-menu.second { 
				
				display: none;
				left: 100%;
				top: 0; 	
			}
		}
	}
}
