@import 'global/vars.scss';

.search-form {

    display: flex;
	width: 250px;
	flex-wrap: wrap;

    .searchstring {
   
	    display: inline-block;
	    width: calc(100% - 55px);
	    height: 36px;
	    padding-left: 10px;
	    border: 1px solid #eff8fd;
	    background-color: #eff8fd;
	    border-radius: 0;
	    @include font($font-sans,  rgba(73, 110, 134, 0.5), 14px);
	     
	   

		&::-moz-placeholder { 

			@include font($font-sans,  rgba(73, 110, 134, 0.5), 14px);
			opacity: 1; 
		 }

	 	&::-webkit-input-placeholder { @include font($font-sans,  rgba(73, 110, 134, 0.5), 14px);
	 		opacity: 1; 

	 	 }	
	}
     
}

.searchsubmit {
   
	    display: inline-block;
	    width: 40px;
	    height: 40px;
	    @include font($font-awesome, $color-white, 14px); 
	    vertical-align: top;
	    border: 1px solid #eff8fd;
	    background-color: $color-blue2;
	    border-radius: 0;
	    cursor: pointer;
}

.sign-search {

	@include font($size: 12px);
		padding-top: 5px;
}
