@import 'global/vars.scss';
@import 'global/mixin.scss';

.contents-wrap {

	background-color: #eef8fd;
	padding: 40px 135px 30px 90px;
	margin-bottom: 39px;

	 @media screen and (max-width: 768px) { padding: 40px 20px 10px 20px; }

	a {
		
		display: inline-block;	
		color: $color-text;
		vertical-align: top;
	}

    .kc_title {
     	
     	display: block;
     	@include font($font-family: $font-serif, $color:$color-text, $size: 20px );
    	font-weight: 700;
    	padding: 0 0 30px 0;

    	@media screen and (max-width: 768px) { padding: 0 0 30px 0; }
	}

	ul  { 

		> li { 

			line-height: 16px;
			padding: 14px 0 0;

			&:before {
			
				font-size: 14px;
				margin-left: -40px;
				margin-right: 15px;

				@media screen and (max-width: 768px) { margin-left: -25px; }
			}
		}

		li:nth-child(n+3) ~ li { display: none; }

		.sub-contents { display: none; }

		li:nth-child(3) a { color: #7b9bb2; }

		.top:before, .sub:before { color: $color-blue3; }

		&.opened { 
			
			li:nth-child(n+3) ~ li { display: block; }
			.sub-contents { display: block;} 
			li:nth-child(3) a { color: inherit; }
		}

		//для li ul li li (class one-list)
			&.one-list {
				li:nth-child(1) ul li:nth-child(n+3) ~ li { display: none; }
				li:nth-child(2) { display: none; }
				&.one-list.opened { li {display: block; } 
			}

			li:nth-child(n+3) ~ li { display: block;} 

			li:nth-child(3) a { color: inherit; }

			ul, li ul { display: block; }
		}

	}

	hr {

		border-bottom: 1px solid $color-white;
		margin: 20px 0 30px;
	}

	.expand {
	    @include font( $size: 13px );
	    background-color: $color-green3;
	    padding: 6px 24px;
	    cursor: pointer;

	    @media screen and (max-width: 768px) { margin-bottom: 20px; }

	    &.hidden { display: none; }

	    &:hover { background-color: #93e3bd; }

	    &.opened {

	    	color: transparent;
	    	position: relative;

			&:before {
				content: "свернуть";
				position: absolute;
				color: $color-white;
				left: 0;
				right: 0;

			}
	    }
	}
}

.article .articles-popularin {

	width: 100%;
    background-color: #eef8fd;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    margin: 25px 0;

     @media screen and (min-width: 1024px) and (max-width: 1240px)  { justify-content: center; }
        
    .items { 

    	flex-basis: calc(100%/3 - 10px);
    	background-color: rgba(255, 255, 255, 0.9);
    	margin: 0 7px; 
    	margin-bottom: 20px;

    	&:first-of-type {margin-left: 0; }

    	&:last-of-type { margin-right: 0; }

    	@media screen and (max-width: 768px) { 

    		flex-basis: 211px;
    		margin: 0 5px 20px; 

    	}		
    }
}

figcaption { 

  font: 14px $font-serif;
 font-style: italic;
  padding: 10px 0; 
}

.similar { 

	width: 100%;
	background: url(/images/background/pattern_green.png) repeat;
	text-transform: uppercase;
	@include font($font-family: $font-serif, $color:$color-white);
	font-weight: 700;
	padding: 13px 0;
	margin: 20px 0;
}

.table-block {

	font-size: 16px;
	line-height: 20px;
	margin: 25px 0;

	@media screen and (max-width: 1024px) { overflow: auto; }
	
	table { 

		td, th {

			border: 0.5px solid #cde7f8;
		 	padding: 14px 10px 16px; 
		 }
	
		th {

			
			background-color: $color-blue;
			font-family: $font-sans;
			font-weight: 700;
			color: $color-white;
		}

		tr:nth-child(odd) { background-color: #eef7fd; }
	}
}

.ya-share2 { flex-wrap: wrap;}

ul.ya-share2_list li:before { content: none; }

.soc-inf { 

	font-size: 16px;
	padding: 9px 30px 7px 0;

}

.soc-ico {
    
	background-color: #338ec7;
	position: relative;
	text-align: center;
	margin: 0 5px;

	&:hover { background-color: $color-green; }


	&:hover:before {

		content: attr(data-title); 
	    position: absolute; 
	    left: 0; 
	    top: -26px; 
	    z-index: 1;
	    background-color: #dcfeed;
	    font-size: 12px; 
	    color: rgba(73, 110, 134, 0.75);
	    padding: 3px;
	    white-space: nowrap; 
	}

	.counter {

	 font-size: 14px;
	 font-family: $font-sans;
	 padding-left: 5px;
	
	}
}

.articles-headings.home.commits {

	@media screen and (max-width: 768px) { padding-left: 30px; }
}

.articles-headings.home.commits .row-item:not(.blue-right) {  

	height: 95px;
	flex-basis: 160px;
	padding: 0;

	@media screen and (max-width: 768px) { flex-basis: 200px; }

}

.commits {

	width: 100%;
	padding: 20px 20px 10px 50px;
	line-height: 16px;
	box-sizing: border-box;

	@media screen and (max-width: 768px) { 
		
		flex-wrap: wrap;
		padding: 0;
	}

	&.articles-headings.home > .columns-left { padding-right: 90px;
		
		@media screen and (max-width: 768px) { padding-right: 0; }

	}

	.height-chronicle {

		column-width: 160px;
		height: 50px;
		overflow: hidden;
	}

	.content { 

		column-width: 160px;
		height: 36px;
		overflow: hidden;
		padding-bottom: 10px;

	}

	.title-articl { 

		padding: 20px 0 0; 
		color: $color-blue;
		line-height: 1.2;

		&:after { margin: 20px 0;}
	}

	.columns-right {

    	width: 200px;
    	display: block;
    	background-image: url(/images/background/pattern_blue.png);
    	line-height: 1.2;
    	padding: 20px 20px 0 20px;
    	margin-bottom: 10px;
    	box-sizing: border-box;

    	@media screen and (max-width: 768px) { margin: 30px 0 20px; }

    	 .row-item {

    	  padding: 0; 
    	  width: auto;
    	}

    	*, .link-article { color: $color-white;}

    	.link-article { 

    		column-width: auto; 
    		height: 50px;
			overflow: hidden;

    	}

		.title-articl.blue {
		   
		    padding-top: 0;
		    display: block;
		}

    	.symbol-link { 
    		color: rgba(255, 255, 255, 0.7);
    		font-size: 14px;
    		padding: 10px 0 30px;
    		line-height: 1.14;
    		text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
    }

	.columns-left {width: 65%;

    	.link-article.float {color: rgba(73, 110, 134, 0.7);}
	}
}

.articles-popularin.read-block {

	background-color: transparent;
	padding: 0;

	.items { flex-basis: calc(100%/3 - 14px); }

	.items:first-of-type { position: relative; }

	.items:hover .items-title:after  { border-color: $color-green; }

	.title-heading {
	    position: absolute;
	    padding: 10px 0;
	    top: 15px;
	    left: 0;


	    @media screen and (max-width: 768px) { left: 42px; }
	}

	.items-title::after { border-color: $color-blue; }
}

.link-append,
.answer {
	
	width: 70px;
    @include font($color: $color-white);
    padding: 6px 0;
    float: right;
	text-align: center
}

.title-commits {

	background-image: url(/images/background/pattern_blue.png);
	@include font($font-family: $font-serif, $size: 16px);
	font-weight: 700;
	border-radius: 5px;
	line-height: 27px;
	padding: 13px 20px;
	margin-bottom: 25px;

	.count { 

		padding: 0 10px;
		opacity: 0.8;
	}

	.link-append {

		font-size: 14px;
	    color: rgba(73, 110, 134, 0.7 );
	 	background-color: #eef8fd;

		&:hover { background-color: #a4d9f6;}
	}
}

ul.ul-commits { padding: 0;}

ul.ul-commits  li { display: block;

	&:before { content: none;}

	  ul { 

	  	@media screen and (max-width: 1023px) { padding-left: 10px; }

	    li:before {

			content: "\f0da";        
        	display: inline-block;
	        @include font($icomoon, $color-blue);
	        padding: 15px 0 0 0;
	        margin-left: 0;
	        margin-right: 20px;
	        vertical-align: top;
    	}

    	.text-commit {  padding: 10px 10px 10px 20px; }
     
        ul { padding-left: 60px;

        	@media screen and (max-width: 1023px) { padding-left: 20px; }

	       > li:before {
	        	
	        	content: "\f0da \f0da";    
		        display: inline-block;
		        @include font($icomoon, $color-blue);
		        vertical-align: top;
		        letter-spacing: 4px;
	    	}
	    }
    }   
}

.commit-item span { display: inline-block; }

.icon {

	width: 32px;
 	height: 32px;
  	background-image: url(/images/control/user_icon.png);
  	background-repeat: no-repeat;
  	background-size: contain;
  	margin-right: 20px;
}

.time {

  color: $color-blue;
  font-size: 14px;
}

.text-commit { 

	border-bottom: 1px solid #eef8fd;
	font-size: 14px;
    padding: 10px 10px 0 0;
	margin-bottom: 20px;
}

.answer,
input[type="submit"] {

	background-color: $color-blue; 
	margin: 15px 0 15px auto;
	padding: 4px 0;
	float: none;
	
	&:hover { background-color: #33a9f8; }
}

.comment-reply-title { 

	@include font($font-family: $font-serif, $color: $color-text, $size: 16px); 
	font-weight: 700;
	padding: 0 0 15px 0;
}
 
.comment-form { 

	background-color:  #eef8fd;
	padding: 20px 40px;

	* {
		border-radius: 5px;
		border: 0;
		background-color: $color-white;
	}

	input[type="text"] { 

		flex-basis:calc(100%/2 - 30px);
		padding: 10px;
		margin: 15px 0;

		@media screen and (max-width: 1023px) { flex-basis: 100%; }
	}

	input[type="submit"] { 
		
		width: 100%;
		color: $color-white;
		padding: 10px;
		cursor: pointer;
	}

	textarea { 

		width: 100%;
		height: 80px;
		padding: 10px;
	}

	::-webkit-input-placeholder {
		
		color:$color-text;
		font: 14px $font-sans;
	}

	::-moz-placeholder       {

		color:$color-text;
		font: 14px $font-sans;
	}

	:-ms-input-placeholder  {

		color:$color-text;
		font: 14px $font-sans;

	}
}
