@import 'global/vars.scss';
@import 'global/mixin.scss';

#breadcrumbs  { 

    font: 13px "PT Sans";

    @media screen and (max-width: 768px) { padding-top: 20px; }
  
    span > span:nth-child(1):before {

        content:"\f015";
        @include font($icomoon, $color-blue, 13px);
        vertical-align: middle;
        margin-right: 5px;
        padding-bottom: 1px;
    }

    a { color: #7bbfec;

        &:hover { text-decoration: underline; }
    }
    
     a:after { 

        content:"\f0da"; 
        display: inline-block;
        margin: 3px 5px;
        @include font($icomoon, $color-blue, 13px);
        vertical-align: middle;
     }

    .breadcrumb_last{

        color: #496e86;
        font-weight: initial;  
    }
}


