@import 'global/vars.scss';
@import 'global/mixin.scss';

.breadcrumblist > ul { display: flex;
    
    li { 
        
        line-height: 16px;
        padding: 0;
    
        &:first-of-type:before { 
            
            content:"\f015";
            padding-left: 0;
        }

        &:last-of-type  { 

            span { 

                color: $color-text;

                &:hover  { text-decoration: none; }
            }
        }
    }
    
    li span { 

        @include font($font-sans, $color-blue, 13px);

        &:hover { text-decoration: underline; }
    }

    li:before {
        
        content:"\f0da"; 
        color: $color-blue;
        padding: 3px 10px;
    }
}


