@import 'global/vars.scss';

body,
button,
input, 
select, 
textarea {

	@include font($font-sans, $color-text, 16px);
}

.display-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-img {

    width: 359px;
    height: 84px;     
}

.meta {
    
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
    @include font($font-awesome, $color-blue, 14px);

    &.meta-white { justify-content: flex-start;

		.messag:before { margin-left: 20px; }
     }

    &-span { 

    	@include pseudo(inline-block, ""); 
    	@include font($font-awesome, $color-blue, 14px);

    	&.white { color: $color-white; }
    }

    .views:before { 
    	content: "\f06e";
    	padding-right: 5px;
    }

    .messag:before {

    	content:"\f27a";
    	padding-right: 5px;
    }
}

.soclink  {
    
    @include font($font-awesome); 
    padding: 7px;

    &:hover {

    	color: $color-green;
    	background-color: $color-white;
    	border-radius: 5px;
    }
    
}

.title-articl {

	width: 100%;
	@include font($font-serifbold, $size: 20px, $color: $color-text);
    @include title-items; 
    padding: 0 0 20px 0;

    &.right { 

    	display: inline-block;
    	padding: 20px 0 0 70px ;
    }
	
	&:after { border-color:  $color-blue; }
}

.title-main {
   	
	@include font($font-family: font-serifbold, $size:24px, $color:$color-blue);
    text-align: center;
    position: relative;
    font-weight: 700;

    &:after {
		
		@include pseudo;
		width: 200px;
		height: 3px;
		border-radius: 50%;
		background: rgba(29, 82, 115, 0.3);
		background-image: -webkit-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
		background-image: -moz-linear-gradient(left, #fff,rgba(29, 82, 115, 0.3), #fff);
		background-image: -ms-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
		background-image: -o-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
		margin: 10px auto 0 auto;
  	}
}

.items-title {

	@include font($color: $color-green2, $size: 14px);
	
	&.white { color: $color-white; 

		&:after { margin: 20px 0; }
	}

	&:after {
		
		@include pseudo;
		width: 20px;
		height: 1px;
		background-color: $color-blue;
		margin: 7px auto;
	}
}

.items-content {

    text-align: center;
    padding: 20px;

    .items-title-articl { @include font($color: $color-text, $size: 14px); }
}

.items { 

	flex-basis: calc(100%/4 - 20px);
	line-height: 16px;
}

.row-heading {

    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid #f1f9fd;
	background-color: #f1f9fd;
	padding: 40px;
}

.heading-item {
		    
	height: 155px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	z-index: 1;
	@include background-image(url(/images/background/pop1.jpeg));
	@include font($font-family:$font-serif, $color:$color-text2);
	@include title-items;
	margin: 0 auto;
	padding: 0 18px;
	text-align: center;
	box-sizing: border-box;
	transition: .5s;

	 &:after { 

	 	border-color:  $color-text2; 
	 	margin-top: 15px;
	 }

	&:hover  { 

		background-color: $color-green2;
		background-image: none;
		color: $color-green2;
			
		&:after { border-color:  $color-green2; }
	}

	&:before {

		@include pseudo;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 50%;
		margin: 10px;
		z-index: -1;
	}
}

	
.pub-picture { 

		width: 70px;
		height: 70px;
		margin-right: 20px;
	}

	.link-piblicat {

		display: block;
		color: $color-text;
		padding: 5px 5px 15px 5px;

		&:hover { color: $color-blue3;}
	}
		
.pub-link { 

	color: $color-blue2;

	&:hover {color: #2aa1f0;}
}