@import 'global/vars.scss';

.logo-link {
    
    display: block;
	@include font($size: 32px);
    font-weight: 700;
    position: relative;

    &:before {

    	content: "";
    	width: 25px;
    	border: 1px solid $color-white;
    	display: inline-block;
		position: absolute;
		top: 36px;
    }

    .signature { @include font($size: 16px); }

	p { margin:0; }
}

