@import 'global/vars.scss';

body,
button,
input, 
select, 
textarea {

	@include font($font-sans, $color-text, 16px);
	
}

.display-flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.logo-link {

    width: 359px;
    height: 82px;
    @include background-image (url(../images/background/logo.png));

    img {display: none; }
    
 }

.meta {
    
    display: flex;
    justify-content: space-around;
    padding: 14px 0;
    @include font($font-awesome, $color-blue, 14px); 

    &-views:before {
		
		@include pseudo(inline-block, "\f06e");
		@include font($font-awesome, $color-blue, 14px); 

    }

    &-messag:before {
		
		@include pseudo(inline-block, "\f27a");
		@include font($font-awesome, $color-blue, 14px); 

    }

    &.white { 

    	color: $color-white; 
    	justify-content: flex-start;

    	.meta-messag { padding: 0 20px; }
    }
}

.soclink  {
    
    @include font($font-awesome, $color-white, 16px); 
    
 }

.title-articl {

	width: 100%;
	@include font($font-serifbold, $size: 20px, $color: $color-text);
    @include title-items; 

    &.right { 

    	display: inline-block;
    	padding: 30px 0 0 70px ;
    }
	
	&:after { border-color:  $color-blue; }

}