@mixin font($font-family: PTSans, $color: $color-white, $size: 16px) {

	font-family: $font-family;
	color: $color;
	font-size: $size; 
	font-weight: 400;

}

 @mixin size($size: 1060px) {

 	width: $size;
    margin: 50px auto;
 }