@mixin font($font-family: $font-sans, $color: $color-white, $size: 16px) {

	font-family: $font-family;
	color: $color;
	font-size: $size; 
}

@mixin background-image($patch, $pos: center, $size: cover)  {

    background-image: $patch;
    background-position: $pos;
    background-size: $size;
}

 @mixin size($size: 1060px) {

 	width: $size;
    margin: 50px auto;
 }

 @mixin pseudo($display: block, $content: '') {
 
    content: $content;
    display: $display;

}

@mixin title-items { 

	&:after {

		@include pseudo;
		width: 20px;
		border: 1px solid $color-white;
		margin-top: 20px;	
	}
}
