$font-sans: "PT Sans";
$icomoon: "icomoon";
$font-serif: "PT Serif";

$color-header: #80b9e6;
$color-footer:#3e95c9;
$color-blue: #7bbfec;
$color-blue2: #7cc0ed;
$color-blue3: #77c1ee;
$color-blue4: #55a8de;
$color-green: #31cf87;
$color-green2:#00d381;
$color-green3:#2bd081;
$color-white: #ffffff;
$color-text: #496e86;
$color-text2: #1d5273;
$color-back: #f1f9fd;
