$font-sans: "PTSans-Regular";
$font-sansbold: "PTSans-Bold";
$font-awesome: "FontAwesome";
$font-serifbold: "PTSerif-Bold";
$font-serif: "PTSerif-Regular";

$color-header: #80b9e6;
$color-footer:#3e95c9;
$color-blue: #7bbfec;
$color-blue2: #7cc0ed;
$color-blue3: #77c1ee;
$color-green: #31cf87;
$color-green2:#2bd081;
$color-white: #ffffff;
$color-text: #496e86;
$color-text2: #1d5273;
$color-back: #f1f9fd;