@import 'global/vars.scss';
@import 'global/mixin.scss';

figure { font-family: $font-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.soc-inf  {
    
    font-family:$font-serif;
    color: $color-text2; 
    padding: 10px 0;
    margin: 0;
    font-weight: 700;

}

h1,
h2,
h3,
h4,
h5,
h6 { padding: 36px 0; }

h1 { 

    font-size: 32px;
    line-height: 44px;
    border-bottom: 1px solid  #57a7dc;
    padding: 40px 0 28px;
    margin: 0 0 40px;
    position: relative;

    &:after {

        @include pseudo;
        width: 160px;
        border-bottom: 3px solid #57a7dc;
        position: absolute;
        bottom: 0;
    }
}

h1, h2 { clear: both; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

h5, h6 { font-size: 16px; }

img { 

    height: auto;
    max-width: 100%;
    width: auto;
    vertical-align: baseline;
}

.wrapper-content  p a {

    color: $color-blue;
    text-decoration: underline;
    
    &:hover { 
        
        color: $color-green3;
        text-decoration: none;
    }  
}

.inform-picture,
.advert,
.row-heading.top,
.soc-list { padding: 10px 0; }

.vnimanie {
   
   background-color: #eef8fd;
   align-items: center;
   @include font($size: 16px);
   padding: 49px 25px 44px 0;
   margin: 25px 0;
   position: relative;
   z-index: 1;

   .vnimanie-block {
        display: inline-block;
        width: calc(100% - 130px);
        text-align: left;

        @media screen and (max-width: 768px) { 

            display: block;
            width: 100%;
            padding-left: 30px;
        }
    }

    &:before {

        @include pseudo(inline-block, "");
            width: 128px;
            height: 70px;
            background:url(/images/control/bv_osnovnoi.png) no-repeat top;
            margin: 0 0 0 20px;

            @media screen and (max-width: 1023px) { margin: 0 auto 10px; }
        }


   &:after {
        
        content: "";
        position: absolute;
        left: 10px;
        bottom: 10px;
        right: 10px;
        top: 10px;
        background-color: #55a8de;
        border-radius: 5px;
        z-index: -1;
    }

  
       &.vn-green { background-color: #d9ffed;

            &:after {

                background-color: #2bd081;
            }

            &:before { background:url(/images/control/bv_vajno.png) no-repeat center; }

            .critical {
                font-family: $font-sans;
                font-weight: 700; 
                display: block;
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                margin-bottom: 5px;
                padding-bottom: 5px;
              
            }
        }

    @media screen and (max-width: 1023px) { 
        
        flex-wrap: wrap;
        text-align: center;
    } 
}

ul:not.menu { padding-left: 30px;}

.main  ul  li { 

    line-height: 22px;
    padding: 10px 0;

    &:before {
        
        @include pseudo(initial, "\f0da");
        @include font($icomoon, $color-green3,16px);
        margin-right: 20px;
        margin-left: -25px;
    }
}

ul .alignleft, ol .alignleft { margin: 0 50px 10px 0; } 

.main ol { counter-reset: list1; 

    li  { padding: 8px 10px; 

        @media screen and (max-width: 641px) { padding: 8px 0; }
    }

    li:before {
        content: counter(list1) ".";
        counter-increment: list1;
        margin-right:10px;
        @include font($font-serif, $color-green3,16px);

    }

    li ol { 

        width: 100%;
        padding-left: 60px;
        box-sizing: border-box;
    }
    
    li ol li:before {
        
        content:  "\f0da";
        font-family: $icomoon;
        margin-left: -30px;
    }
}

.aligncenter  { 

    display: block;
    margin: 10px auto;    
}
 
.alignright { 

    float: right; 
    margin: 0 0 10px 20px;

    @media screen and (max-width: 568px) { 

        display: block;
        float: none;
        margin: 10px 0 0;
    }
}


.alignleft { 

    float: left;
    margin: 0 20px 10px 0; 

    @media screen and (max-width: 568px) { 

        display: block;
        float: none;
        margin: 10px 0 0;

    }
}

.title-heading { 

    width: 129px;   
    background-image: url(/images/background/yarlik.png);
    background-repeat: no-repeat;
    font-weight: 700;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    @include font($font-serif, $color-white);
}

.row-heading.top { 

     @media screen and (max-width: 1023px) { padding: 0 5px 20px; }

    .group-link { padding: 0 25px; }

.heading-item {

    width: 100px;
    height: 100px;
    display: block;
    font-size: 14px;
    line-height: 1.14;
    margin: 10px auto;
    padding: 35px 10px 0 10px;

        &:after { margin: 5px auto; }
    }
}

.row-heading.bottom { flex-basis: 100%;
    
    .heading-item {

        width: 150px;
        height: 150px;

        @media screen and (max-width: 1023px) { 
            
            width: 96px;
            height: 96px;
            margin: 10px auto;
            padding: 36px 17px 0;
            font-size: 12px;
            line-height: 11px;
        }
    }
}

.related { padding: 20px 0 0 0;

    .items { 

        flex-basis: calc(100%/3 - 20px);
        background-color: $color-back;
        border: transparent;
        position: relative;
        padding: 0;
        overflow: hidden;

        @media screen and (max-width: 641px) { 

            flex-basis: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        &.nopicture {

            background-color: transparent;
            text-align: left;
            padding: 7px 20px 0;
            box-sizing: border-box;
            color: rgba(73, 110, 134, 0.8);

            @media screen and (max-width: 1023px) { padding: 10px; }

            @media screen and (min-width: 1024px) and (max-width: 1240px) {  padding: 7px 5px 0; }
           
            .items-title-articl {

                &:before { content: none; }

                &:after {

                    @include pseudo;
                    width: 20px;
                    border-bottom: 1px solid $color-blue;
                    margin: 15px 0 0;
                }
            }

            > p {

                font-size: 14px;
                padding: 0;
                height: 127px;
                overflow: hidden;

                @media screen and (max-width: 641px) { 

                    height: auto;
                    overflow: initial;
                }
            }

            .meta {justify-content: flex-start;

                .meta-span.dark.views { margin-left: 0;}
            }

        }

        .items-title-articl { 

            height: 55px;
            overflow: hidden;
            line-height: 0.98;

            &:hover { color: $color-blue;}

            &:before {

                @include pseudo;
                width: 20px;
                border-bottom: 1px solid $color-blue;
                margin: 10px auto;
            }
        
            &.bold {

                font-family: $font-sans;
                font-size: 18px;
                font-weight: 700;
                line-height: 1;
                padding: 20px 0
            }
        
        }
    }     
}

.publication-content .meta  { padding: 15px 0 25px;
    
    .meta-span { margin: 0;}
}

.publication {

    border: 1px solid #f1f9fd;
    margin: 30px 0;
    padding: 40px 20px 20px;

    @media screen and (max-width: 641px) { 

        flex-wrap: wrap; 
        padding: 10px;
    }

    > img { 

        width: 230px;
        height: 200px;
        flex-shrink: 0;
        margin: 0 20px 20px 0;
    }

    .link-pub {

        font-family: $font-sans;
        font-size: 24px;
        font-weight: 700;

        &:hover { color: $color-blue3; }

        &:after {
            
            @include pseudo;
            width: 20px;
            border-bottom: 1px solid $color-blue;
            margin: 9px 0 14px;
        }
    }

    .piblicat { 

        line-height: 18px;
        color: rgba(73, 110, 134, 0.8);
        font-size: 14px;
    }

    .meta { justify-content: flex-start;
        
        .messag { margin-left: 30px; }
    }

    .pub-link { font-size: 16px;}
}

.small-publicat .publication:nth-child(2n+1) { background-color: #eff8fd;}