@import 'global/vars.scss';
@import 'global/mixin.scss';

.site-content {
   
    width: 1060px;
    padding: 30px 0;
}   

.main { 

    flex: 1 1 0;
    max-width: 700px;
    padding-right: 50px;
    line-height: 24px;

    &.article { font-size: 16px; }
}

figure { font-family: $font-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.soc-inf  {
    
    @include font($font-serifbold, $color-text2, 24px); 
    padding: 10px 0;
    margin: 0;
}

h1 { 

    font-size: 32px;
    line-height: 44px;
    border-bottom: 1px solid  #57a7dc;
    padding: 20px 0 10px;
    margin: 0 0 40px;
    position: relative;

    &:after {

        @include pseudo;
        width: 160px;
        border: 3px solid #57a7dc;
        position: absolute;
        bottom: 0;
    }
}

h3 { font-size: 20px; }

h3 { font-size: 18px; }

h5, h6 { font-size: 16px; }

.wrapper-content  p a { color: $color-green3;

     &:hover {
        
        color:  $color-blue4;
        text-decoration: underline;
    }  
}

.post,
.advert,
.row-heading.top,
.soc-list,
.comment-reply-title,
 p { padding: 10px 0; }

.meta-span.dark,
a { color: $color-text2; }

.vnimanie {
   
   background-color: $color-blue4;
   border: 10px solid #eef8fd;
   align-items: center;
   @include font($size: 16px);
   padding: 25px 25px 25px 0;
   margin: 20px 0;

   &.vn-green {

        background-color: #2bd081;
        border-color: #d9ffed;

        &:before { background:url(/images/control/bv_vajno.png) no-repeat; }

        .vnimanie-block { 

            display: block;
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            margin-top: 10px;
            padding-top: 10px;
        }

        .critical { font-family: $font-sansbold; }
    }

   &:before {

    @include pseudo(inline-block, "");
    width: 78px;
    height: 70px;
    background:url(/images/control/bv_osnovnoi.png) no-repeat;
    margin: 0 40px 0 40px;
   
   }
}

.main  ul  li { 

    line-height: 22px;
    padding: 8px 0;

    &:before {
        
        @include pseudo(initial, "\f0da");
        @include font($font-awesome, $color-green3);
        padding: 0 19px;
        align-self: center;
    }
}

.main ol { counter-reset: list1; 

    li  { padding: 8px 0; }

    li:before {
        content: counter(list1);
        counter-increment: list1;
        margin-right:10px;
        color: $color-green3;
        font-family: $font-serif;
    }

    li li  { padding: 10px 0 0 0; }

    li ol { 

        width: 100%;
        margin-top: 20px; 
    }
    
    li ol li:before {
        
        content:  "\f0da";
        font-family: $font-awesome;
        margin-left: -30px;
    }
}

.alignright, .alignleft  {  width: 50%; }

    .aligncenter { width: 100%; }

.alignright { 

    float: right; 
    margin: 10px 0 0 30px;
}

.alignleft { 

    float: left;
    margin: 10px 30px 0 0; 
}

.title-heading { 

    width: 129px;   
    background-image: url(/images/background/yarlik.png);
    background-repeat: no-repeat;
    padding: 8px 12px;
    margin: 0 0 10px 0;
    @include font($font-serifbold, $color-white);
}

.row-heading.top {

    height: 178px;
    margin-bottom: 40px;

.heading-item {

    width: 95px;
    height: 95px;
    font-size: 13px;
    line-height: 13px;

        &:after { margin-top: 5px; }
    }
}

.row-heading.bottom { flex-basis: 100%;
    
    .heading-item {

        width: 140px;
        height: 140px
    }
}

.related { padding: 20px 0;

    .items { 

        height: 280px;
        flex-basis: calc(100%/3 - 20px);
        background-color: rgba(241, 249, 253, 0.9);
        border: transparent;
        position: relative;
        padding: 0;
        overflow: hidden;

        &.nopicture {

            background-color: transparent;
            text-align: left;
            padding: 7px 20px 0;
            box-sizing: border-box;
           

            .items-title-articl {

                &:before { content: none; }

                &:after {

                    @include pseudo;
                    width: 20px;
                    border: 1px solid $color-blue;
                    margin: 15px 0 0;
                }
            }

            .meta-span { color: $color-text2; }
        }

        img { width: 100%; }

        .items-title-articl { color: $color-text;

            &:hover { color: $color-blue;}

            &:before {

                @include pseudo;
                width: 20px;
                border: 1px solid $color-blue;
                margin: 10px auto;
            }
        
            &.bold {

                font-family: $font-sansbold;
                font-size: 18px;
                line-height: 18px;
                padding: 20px 0
            }
        
        }
    }     
}

.publication {

    border: 1px solid #f1f9fd;
    padding: 20px 0;
    margin: 20px 0;

    &.backhover:hover { background-color: #eff8fd;}

    .picture {

        height: 200px;
        width: 230px;
        margin: 0 20px;
    }

    .link-pub {

        font-family: $font-sansbold;
        font-size: 24px;

        &:hover { color: $color-blue3; }

        &:after {
            
            @include pseudo;
            width: 20px;
            border: 1px solid $color-blue;
            margin: 10px 0;
        }
    }

    .piblicat { line-height: 18px; }

    .meta { justify-content: flex-start;
        
        .messag { margin-left: 20px; }
    }

    .pub-link { font-size: 16px;}
}