@import 'global/vars.scss';
@import 'global/mixin.scss';
@import 'global/global.scss';

main { padding: 40px 0; }

.articles-popularin { @include size;
 
 	.items {background-color: rgba(239, 248, 253, 0.9);
		
		&:hover  * {color :$color-green2; }
 	}
}

.wrapper-discusses {

	background-image: url(/images/background/doctor.jpg);
    background-position: 31% 89%;
    background-size: cover;
}

.articles-discusses {
   
	display: flex;
   	width: 880px;
	margin: 0 auto;
    padding: 40px 0;

	    &-popular {
	   
	   		flex-grow: 0;
		    flex-shrink: 0;
		    flex-basis: 340px;
		    height: 280px;
		    background-image: url(/images/background/pattern_green.png);
		    @include font($font-family: font-serifbold, $size: 24px);
			text-align: center;
			margin-right: 40px;
			padding: 3.85em 2.85em;
			box-sizing: border-box;
			font-weight: 700;
			line-height: 30px;
		}

	.items { 

		flex-basis: calc(100%/2 - 20px);
		padding: 40px 0 0; 
		line-height: 18px;

		a:hover { color: #d0e8df;} 

	.items-link {

		display: block;
		@include font($font-family: $font-sansbold, $size: 18px);
	    padding-bottom: 20px;
	}

	.items-link-discus,
	.items-text { @include font($size: 14px); }

	.items-link-discus:after {

    		
    		@include pseudo;
    		width: 20px;
    		height: 1px;
    		background-color: $color-green2;
    		margin: 20px 0;
    	}
	}
}

.articles-headings {

	display: flex;
	@include size;

	.row-item { flex-basis: calc(100%/2 - 10px); 
		
		.content { padding-bottom: 7px; }

		a:hover { color: $color-blue3;}
	}	

	.columns-left {
   		 
   		 flex: 1 1 0;
   		 padding-right: 20px;
		
		.title { width: 100%; }

		.row-item { padding: 0 0 27px 0;}
	}

	.row-heading {

	    flex: 0 0 520px;
	    min-height: 500px;
	    background-color: transparent;
	    border: 10px #f3fafe solid;
	    box-sizing: border-box;
	    padding: 0 40px;

	   .heading-item { flex-basis: 155px; }	
	}

	.link-article { 

		display: block;
    	color:$color-text;
    	font-size: 16px;

		&.float {

			display: inline;
			font-size: 14px;
			padding: 0;
		}
	}

	.symbol-link { 

		display: block;
		font-size: 14px;
		padding-top: 15px;

		&.left { 

			display: inline;
			padding: 0;

			&:after { padding-left: 10px;}
		}
	}

	.symbol-link.right:before,
	.symbol-link.left:after { 
			
		@include pseudo(inline-block,"\f0da");
		@include font($font-awesome, $color-blue, 12px);
		padding-right: 10px;
	}
}

.wrapper-publications { background-color: #f3fafe;

	.social-link-column {

		width: 250px;
		height: 270px;
	 	background-image: url(/images/background/pattern_green.png);
	 	color: $color-white;
	 	padding: 39px  20px 0;
		text-align: center;
		line-height: 24px;

		.title { color: $color-white;
			
			&:after { 

				border-color: $color-white;
				margin: 20px auto;
			}
		}

		.title-social-link {
		    padding: 10px 0 23px;
		    display: block;
		}
	}

	.articles-publications { 

		@include size;
		padding: 50px 0;
	
		.title-main { 

			width: 100%;
		 	text-align:  left;
		 	padding-bottom: 40px; 

			&:after { content: none; }
		}
	}

	.publication-columns {
	   
	    display: flex;
	    flex-wrap: wrap;
	    flex: 1 1 0;

	    .publication {

			display: flex;
	    	flex-basis: calc(100%/2 - 10px);
	    	padding-bottom: 30px;
	    }
	}
}

.question { 

	@include size;
	@include background-image(url(/images/background/fon_pop_vopros.jpg));
	
	&-wrapper {
		
		width: 880px;
		margin: 0 auto;
		padding: 50px 0;

		.title-main {
		
			width: 100%;
			background-image: url(/images/background/pattern_green.png);
			color: $color-white;
			padding: 29px 0;
			margin-bottom: 40px;
			  
			&:after {

				background-image: -webkit-linear-gradient(left, #fff, $color-white, #fff);
				background-image: -moz-linear-gradient(left, #fff,$color-white, #fff);
				background-image: -ms-linear-gradient(left, #fff, $color-white, #fff);
				background-image: -o-linear-gradient(left, #fff, $color-white, #fff);
			}
		}

		ul {

			flex-basis: calc(100%/5 - 20px);

			&:last-child { padding-right: 0; }

			a {

				display: block;
				@include font($color: $color-text);
				padding-bottom: 15px;

				&:hover { color: $color-green2; }
			}
		}
	}
}
