@import 'global/vars.scss';
@import 'global/mixin.scss';

.articles-popularin,
.articles-headings,
.question,
.articles-publications {
    
    @include size;
    margin: 50px auto;

    @media screen and (max-width: 1023px) { width: 100%;}

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {  width: 100%; }

}

.articles-headings .content,
.articles-publications,
.articles-headings .heading-item {font-size: 16px; }

.articles-popularin { 

    .items {

        background-color: rgba(239, 248, 253, 0.9);
        
        &:hover  * {color :$color-green2; }
    }
}

.home-titl { padding: 50px 0 0; }

.wrapper-discusses { 
    
    background: url(/images/background/doctor.jpg) no-repeat;
    background-size: 100% 100%;
}

.articles-discusses {
   
    width: 880px;
    padding: 40px 20px;
    box-sizing: border-box;

    @media screen and (max-width: 1023px) {

        width: 100%;
        flex-wrap: wrap;
        padding: 10px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {  width: 100%; }

        &-popular {
       
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 340px;
            height: 280px;
            background-image: url(/images/background/pattern_green.png);
            @include font($font-family: $font-serif, $size: 24px);
            margin-right: 40px;
            padding: 100px 60px;
            font-weight: 700;
            line-height: 30px;
            box-sizing: border-box;

            @media screen and (max-width: 1023px) { 

                flex-basis: 100%;
                height: auto;
                padding: 20px  10px;
            }
        }

    .items { 

        flex-basis: calc(100%/2 - 20px);
        padding: 40px 0 0; 
        line-height: 18px;
        text-align: left;

         @media screen and (max-width: 1023px) { padding: 0;  }

        a:hover { color: #d0e8df;}


        @media screen and (max-width: 560px) {  flex-basis: 100%;}

    .items-link {

        @include font($font-family: $font-sans, $size: 18px);
        padding-bottom: 20px;
         font-weight: 700;

    }

    .items-link-discus,
    .items-text { @include font; }

    .items-link-discus:after {

            
            @include pseudo;
            width: 20px;
            border: 1px solid $color-green2;
            margin: 20px 0;
        }
    }
}

.articles-headings.home {

     @media screen and (max-width: 1023px) {
        
        padding: 0 10px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1024px) and (max-width: 1240px)  { 

        padding: 0 10px;
        box-sizing: border-box;
    }

    .row-item { flex-basis: calc(100%/2 - 10px); 

        @media screen and (max-width: 641px) { flex: 100%;}
        
        a:hover { color: $color-blue3;}
    }   

     > .columns-left {
         
         flex: 1 1 0;
         padding-right: 20px;

         @media screen and (max-width: 1023px) { flex-basis: 100%;}
        
     > .title { width: 100%; }

     > .row-item { padding: 0 0 18px 0;}

    }

    .row-heading {

        flex: 0 0 520px;
        background-color: transparent;
        border: 10px #f3fafe solid;
        box-sizing: border-box;
        padding: 0 40px;

         @media screen and (max-width: 641px) { padding: 0;}

         @media screen and (max-width: 1023px) { flex: 100%; }

       .heading-item { 
       
       flex-basis: 170px;
       height: 170px;

        @media screen and (max-width: 1023px) {

            flex-basis: 120px;
            height: 120px;
            margin: 10px auto;
        }
    } 

        > .title-articl.right { padding: 20px 0 0 10px; }

    }

    .link-article { 

        color:$color-text;
        font-size: 16px;

        &.float {

            display: inline;
            font-size: 14px;
            color: rgba(73, 110, 134, 0.81);
            padding: 0;
        }
    }

    .symbol-link { 

        font-size: 14px;
        padding-top: 15px;
        color: rgba(73, 110, 134, 0.81);

        &.left { 

            display: inline;
            padding: 0;

            &:after { padding-left: 10px;}
        }
    }

    .symbol-link.right:before,
    .symbol-link.left:after { 
            
        @include pseudo(inline-block,"\f0da");
        @include font($icomoon, $color-blue, 12px);
        padding-right: 10px;
    }
}

.wrapper-publications { 

    background-color: #f3fafe;
    padding: 0 10px;

    .social-link-column {

        width: 250px;
        height: 270px;
        background-image: url(/images/background/pattern_green.png);
        color: $color-white;
        padding: 39px  20px 0;
        line-height: 24px;

        @media screen and (max-width: 1023px) { height: 200px; }

        .title { color: $color-white;
            
            &:after { 

                border-color: $color-white;
                margin: 20px auto;
            }
        }

        .title-social-link { padding: 10px 0 23px; }
    }

    .articles-publications { 

        padding: 50px 0;
    
        .title-main { 

            width: 100%;
            text-align:  left;
            padding-bottom: 40px; 

            &:after { content: none; }
        }
    }

    .publication-columns {
       
        flex-wrap: wrap;
        flex: 1 1 0;

        .publication.main {

            flex-basis: calc(100%/2 - 10px);
            padding: 0 0 20px 0;
            margin: 0;
            line-height: 16px;

             @media screen and (max-width: 641px) { 

                flex: 100%;
                flex-direction: row;

                .publication-content { flex: 1 1 0; }

            }
        }
    }
}

.question { 

    @include background-image(url(/images/background/fon_pop_vopros.jpg));
    padding: 0 10px;
    box-sizing: border-box;
    
    &-wrapper {
        
        width: 880px;
        padding: 50px 0;

    @media screen and (max-width: 1023px) { width: 100%;}

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {  width: 100%; }

        .title-main {
        
            width: 100%;
            background-image: url(/images/background/pattern_green.png);
            color: $color-white;
            padding: 29px 0;
            margin-bottom: 40px;
              
            &:after {

                background-image: -webkit-linear-gradient(left, #fff, $color-white, #fff);
                background-image: -moz-linear-gradient(left, #fff,$color-white, #fff);
                background-image: -ms-linear-gradient(left, #fff, $color-white, #fff);
                background-image: -o-linear-gradient(left, #fff, $color-white, #fff);
            }
        }

        ul {

            flex-basis: calc(100%/5 - 20px);

            @media screen and (max-width: 1023px) { flex-basis: calc(100%/2 - 10px); }

            &:last-child { padding-right: 0; }

            a {

                display: block;
                @include font($color: $color-text, $size: 16px);
                padding-bottom: 15px;

                &:hover { color: $color-green2; }
            }
        }
    }
}
