@import 'global/vars.scss';
@import 'global/mixin.scss';

.articles-popularin,
.articles-headings,
.question,
.articles-publications {
    
    @include size;
    margin: 50px auto;

    @media screen and (max-width: 1023px) { width: 100%;}

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {  width: 100%; }

}

.articles-headings .content,
.articles-publications,
.articles-headings .heading-item {font-size: 16px; }

.articles-popularin { 

    .items {

        img { width: 100%; }

        background-color: rgba(239, 248, 253, 0.9);
        margin: 0 10px 10px;
        
        &:hover  * {color :$color-green3; }

        &:first-child { margin-left: 0; }

        &:last-child { margin-right: 0;}
    }
}

.home-titl { padding: 50px 0 0; }

.wrapper-discusses { 
    
    background: url(/images/background/doctor.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 30px 10px 30px;

    @media screen and (max-width: 1024px) { padding: 0;} 
}

.articles-discusses { width: 880px;
  
    @media screen and (max-width: 691px) {

        width: 100%;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 692px) and (max-width: 1240px)  {  width: 100%; }

        &-popular {
       
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 320px;
            height: 280px;
            background-image: url(/images/background/pattern_green.png);
            @include font($font-family: $font-serif, $size: 24px);
            margin: 0 40px 10px 0;
            padding-top: 4.125em;
            font-weight: 700;
            line-height: 30px;
            box-sizing: border-box;

            @media screen and (max-width: 691px) { 

                flex-basis: 100%;
                height: auto;
                padding: 20px  10px;
                margin: 0 0 20px 0;
            }
        }

        .wrapper-articles { 
            
            @media screen and (min-width: 701px) { flex-basis: 61%; }
        }

    .items { 

        flex-basis: calc(100%/2 - 20px); 
        text-align: left;
        margin: 0;

        .items-text { 

            line-height: 18px;
            column-width: 234px;
            height: 57px;
            overflow: hidden;
        }

        @media screen and (min-width: 561px) and (max-width: 1023px) { padding: 10px;  }

        @media screen and (max-width: 560px) {  flex-basis: 100%;}

        a:hover { color: #d0e8df;}

    .items-link {

        @include font($font-family: $font-sans, $size: 18px);
        padding: 40px 0;
        font-weight: 700;
        column-width: 234px;
        height: 50px;
        overflow: hidden;
    }

    .items-link-discus {

        display: block;
        width: 234px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .meta-span { margin: 0;}

    .items-link-discus,
    .items-text { @include font; }

    .items-link-discus:after {
            
            @include pseudo;
            width: 20px;
            border-bottom: 1px solid #2ad183;
            margin: 21px 0 14px 0;
        }
    }
}

.articles-headings.home {

     @media screen and (max-width: 1023px) {
        
        padding: 0 10px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1024px) and (max-width: 1240px)  { 

        padding: 0 10px;
        box-sizing: border-box;
    }

    .row-item { width: 247px; 

        @media screen and (max-width: 641px) { flex: 100%;}
        
        a:hover { color: $color-blue3;}

    }   

     > .columns-left {
         
         flex: 1 1 0;
         padding-right: 20px;
         padding-top: 20px;

         @media screen and (max-width: 1023px) { flex-basis: 100%;}
        
     > .title { width: 100%; }

     > .row-item { padding: 0 0 27px 0;

        .content { 

            column-width: 247px;
            height: 34px;
            overflow: hidden;
            line-height: 1;

        }

        .height-chronicle {

            column-width: 247px;
            height: 39px;
            overflow: hidden;
            line-height: 1;
        }
     }

     >  .heading-item { padding: 0; }
        
    }

    .row-heading {

        flex: 0 0 520px;
        flex-shrink: 0;
        background-color: transparent;
        border: 10px #f3fafe solid;
        box-sizing: border-box;
        padding: 0 70px;

         @media screen and (max-width: 641px) { padding: 0;}

         @media screen and (max-width: 1023px) { flex: 100%; }

       .heading-item { 
       
           flex-basis: 160px;
           height: 160px;
           margin-top: -22px;

            @media screen and (max-width: 1023px) {

                flex-basis: 120px;
                height: 120px;
                font-size: 14px;
                padding: 40px 20px 0 20px;
                margin: 10px auto;
            }
    } 

        > .title-articl.right {

         padding: 20px 0 0 0;
         height: 90px;
        }

    }

    .link-article { 

        color:$color-text;
        font-size: 16px;
        line-height: 16px;
        column-width: 234px;
        height: 34px;
        overflow: hidden;

        &.float {

            display: inline;
            font-size: 14px;
            color: rgba(73, 110, 134, 0.81);
            padding: 0;
        }
    }

    .symbol-link { 

        font-size: 14px;
        padding-top: 10px;
        color: rgba(73, 110, 134, 0.81);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &.left { 

            display: inline;
            padding: 0;

            &:after { padding-left: 10px;}
        }
    }

    .symbol-link.right:before,
    .symbol-link.left:after { 
            
        @include pseudo(inline-block,"\f0da");
        @include font($icomoon, $color-blue, 12px);
        padding-right: 10px;
    }
}

.wrapper-publications { 

    background-color: #f3fafe;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 30px auto;

    > .title-main { 

        display: block;
        max-width: 1060px;
        color: #77c1ee;
        padding: 50px 0 22px 0;
        text-align: left;
        margin: 0 auto;

        &:after {content: none;}
    }

    .publication-content { display: flex;
        
        .pub-link {

            display: block;
            padding-top: 15px;
        }

    .link-piblicat { padding: 0px 15px 0px 0px; }
}

    .social-link-column {

        width: 250px;
        height: 270px;
        background-image: url(/images/background/pattern_green.png);
        color: $color-white;
        padding: 51px 34px 20px;
        line-height: 24px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {

         width: 100%;
         min-height: 220px;

        }

        .title {

            color: $color-white;
            padding: 0;
            
            &:after { 

                border-color: $color-white;
               margin: 25px auto 40px;
            }
        }

        .title-social-link { padding: 0 0 16px; }
    }

    .padding-left { 

        padding-left: 90px;
        box-sizing: border-box;
    }
   
    .articles-publications {  margin: 20px auto;

         @media screen and (max-width: 641px) { display: block;}
    
        .title-main { 

            width: 100%;
            text-align:  left;
            padding-bottom: 40px; 

            &:after { content: none; }
        }
    }

    .publication-columns {
       
        flex-wrap: wrap;
        flex: 1 1 0;

        .publication.main {

            flex-basis: calc(100%/2 - 10px);
            padding: 0 0 30px 0;
            margin: 0;
            line-height: 16px;

             @media screen and (min-width: 320px) and (max-width: 641px) { 
                flex-basis: 100%;
            }
        }
    }
}

.question { 

    @include background-image(url(/images/background/fon_pop_vopros.jpg));
    padding: 0 10px;
    box-sizing: border-box;
    
    &-wrapper {
        
        width: 880px;
        padding: 50px 0;

    @media screen and (max-width: 1023px) { width: 100%;}

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {  width: 100%; }

        .title-main {
        
            width: 100%;
            background-image: url(/images/background/pattern_green.png);
            color: $color-white;
            padding: 29px 0;
            margin-bottom: 40px;
              
            &:after {

                background-image: url(/images/control/line_white.svg);
                background-repeat: no-repeat;
                opacity: 1; 
            }
        }

        ul {

            flex-basis: calc(100%/5 - 20px);

            @media screen and (max-width: 1023px) { flex-basis: calc(100%/2 - 10px); }

            &:last-child { padding-right: 0; }

            a {

                display: block;
                @include font($color: $color-text, $size: 16px);
                padding-bottom: 15px;
                line-height: 1;

                &:hover { color: $color-green2; }
            }
        }
    }
}
