
@import 'global/vars.scss';
@import 'global/mixin.scss';
@import 'global/sidebar.scss';
@import 'main.scss';
@import 'heading-article.scss';
@import 'global/article.scss';
@import 'layout/footer.scss';
@import 'global/breadcrumbs-list.scss';
@import 'layout/header.scss';

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot');
  src:  url('/fonts/icomoon.eot') format('embedded-opentype'),
    url('/fonts/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-home:before {
  content: "\f015";
}
.icon-bars:before {
  content: "\f0c9";
}

.icon-eye:before {
  content: "\f06e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-vk:before {
  content: "\f189";
}
.icon-odnoklassniki:before {
  content: "\f263";
}
.icon-commenting-o:before {
  content: "\f27b";
}


body,
ul.menu,
.wrapper-header,
.header-body,
.menu-header-top,
.site-content, 
.group-link,
.related,
.publication,
.publication-columns,
.articles-discusses,
.articles-headings, 
.display-flex,
.vnimanie, 
.meta,
.row-heading, 
.related,
.heading-item,
.search-form,
.wrapper-footer,
.menu-footer,
.comment-form,
.ya-share2,
.ya-share2_list { display: flex; }

.site-content, 
.display-flex, 
.row-heading,
.comment-form,
.group-link,
.related {

    flex-wrap: wrap;
    justify-content: space-between;
}

h1,
.items .items-link,
.link-article,
.items-title-articl,
.symbol-link,
.title-social-link,
.title-heading,
.row-heading.top,
.row-navig,
.link-pub,
.piblicat,
.link-piblicat,
.widget-area a,
.picture-aside,
.title-aside,
.content,
.expand,
.link-append,
.answer,
.comment-reply-title,
.text-commit { display: block; }

.searchstrin,
.searchsubmit, 
.title-articl.right,
.link-navigation,
.searchsubmit,
.searchstring,
.soc-ico,
ul.menu-top a,
ul.menu a { display: inline-block;}

ul.menu-top,
.articles-discusses-popular,
.float-right,
.social-link-column,
.items-content,
.heading-item,
.wp-pagenavi,
.link-navigation,
.similar,
.items,
figure  { text-align: center;}

.site-content,
.items-title-articl:after,
.main-navigation ul.menu,
.picture-aside,
.articles-discusses,
.question-wrapper,
.heading-item,
.expand { margin: 0 auto;}

.hidden-block .hidd,
.related .items.nopicture,
.commits,
.articles-popularin.read-block .items { border: 1px solid #eef8fd; }

.article .articles-popularin,
.expand,
.table-block,
.soc-ico,
.commits,
.columns-right,
.link-append,
.answer
.icon,
.comment-form,
.question-wrapper .title-main,
.question,
.vnimanie,
.answer {border-radius: 5px; }

body,
button,
input, 
select, 
textarea,
.link-pub,
.link-navigation { color: $color-text; }

body {

    min-height: 100vh;
    flex-direction: column;
    font-family: $font-sans;
}

.site-content {
   
    width: 1060px;
    padding: 30px 0;

    @media screen and (max-width: 1240px) { 

        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    @media screen and (max-width: 1023px) { 
       
        display: block;
        padding: 10px;
        
    }

    @media screen and (min-width: 1024px) and (max-width: 1240px)  {

        padding: 20px 10px;
     
    }
}   

.main { 

    flex: 1 1 0;
    padding-right: 30px;
    line-height: 24px;

    &.article, .wrapper-content{ font-size: 16px; }

    @media screen and (max-width: 1023px) { 
       
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
}
.top-buttom {

    background: url(/images/control/up.svg) no-repeat center;
    background-size: contain;
    width: 70px;
    height: 70px;
    position: absolute;
    right: -80px;
    cursor: pointer;
    transition: 1s;
    z-index: 10;

    &:hover { transform: rotate(720deg); }

    @media screen and (max-width: 1023px) { right: 10px; }

    @media screen and (min-width: 1023px) and (max-width: 1240px) { right: 3px; }

}

.logo-img {

    width: 285px;
    height: 64px;  
}

.meta {
    
    justify-content: center;
    padding: 20px 0;

    &.meta-white { justify-content: flex-start;

        .messag:before { margin-left: 20px; }
     }

    &-span.dark { color:rgba(73, 110, 134, 0.8); }

    &-span { 

        @include pseudo(inline-block, ""); 
        @include font($icomoon, $color-blue);
        margin: 0 10px;

        &.white { color: $color-white; }
    }

    .views:before { 
        content: "\f06e";
        padding-right: 5px;
    }

    .messag:before {

        content:"\f27b";
        padding-right: 5px;
    }
}

.soclink, .soc-ico { 

 	@include font($icomoon, $size: 16px); 
 	padding: 4px;
	min-width: 50px;
	box-sizing: border-box;
}

.soclink:hover {

    color: $color-green;
    background-color: $color-white;
    border-radius: 5px;
}

.title-articl {

    width: 100%;
    @include font($font-serif, $size: 20px, $color: $color-text);
    @include title-items; 
    padding: 0 0 20px 0;

    &.right { padding: 20px 0 0 70px; }
    
    &:after { border-color:  $color-blue; }
}

.title-main {
    
    @include font($font-family: font-serif, $size:24px, $color:$color-blue);
    text-align: center;
    position: relative;
    font-weight: 700;

    &.main {padding: 40px 0; }

    &:after {
        
        @include pseudo;
        width: 200px;
        height: 3px;
        border-radius: 50%;
        background: rgba(29, 82, 115, 0.3);
        background-image: -webkit-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
        background-image: -moz-linear-gradient(left, #fff,rgba(29, 82, 115, 0.3), #fff);
        background-image: -ms-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
        background-image: -o-linear-gradient(left, #fff, rgba(29, 82, 115, 0.3), #fff);
        margin: 10px auto 0;
    }
}

.items-title { display: block;

    @include font($color: $color-green2);
    
    &.white { color: $color-white; 

        &:after { margin: 20px 0; }
    }

    &:after {
        
        @include pseudo;
        width: 20px;
        border-bottom: 1px solid $color-green2;
        margin: 7px auto;
    }
}

.items-title-articl { 

    @include font($color: $color-text);
     padding: 0 10px;  
}

.items { 

    flex-basis: calc(100%/4 - 20px);
    line-height: 16px;
    padding: 0 0 10px;

     @media screen and (max-width: 641px) {  flex-basis: 100%;}

    @media screen and (min-width: 642px) and (max-width: 1023px)  {  flex-basis: calc(100%/2 - 20px); }

    img { 

        margin-bottom: 10px;
        width: 100%;

        @media screen and (max-width: 641px) {  width: auto;}
    }
}

.row-heading {

    background-color: #f1f9fd;
    padding: 40px 15%;

    @media screen and (max-width: 1240px) { padding: 10px;}
}

.heading-item {
            
    height: 155px;
    display: block;
    margin: 10px auto;
    padding: 60px 0 0 0;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    @include background-image(url(/images/background/pop1.jpeg));
    @include font($font-family:$font-serif, $color:$color-text2);
    @include title-items;
    box-sizing: border-box;
    transition: .5s;

     &:after { 

        border-color:  $color-text2; 
        margin: 7px auto 0;
     }

    &:hover  { 

        background: $color-green;
        color: $color-green2;
            
        &:after { border-color:  $color-green2; }
    }

    &:before {

        @include pseudo;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        margin: 10px;
        z-index: -1;
    }
}
    
.pub-picture { 

        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    .link-piblicat {

        color: $color-text;
        padding: 5px 15px 15px 5px;

        &:hover { color: $color-blue3;}
    }
        
.pub-link { 

    color: $color-blue;

    &:hover {color: #2aa1f0;}
}

.wp-pagenavi {

    width: 100%;
    margin: 40px 0;

    .link-navigation {

        min-width: 34px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #cde7f8;
        padding: 5px 0;
        margin: 0 3px;
    
        &.active { background-color: #cde7f8; }

        &:hover { background-color: #f1f9fd; }
    }

    .dott { margin: 0 2px; }
}
